// Keywords
// --------------------------------------------------
// useful set of size names
$Default:     'def' !default;
$Xxlg:        'xxlg' !default;
$Xlg:         'xlg' !default;
$Lg:          'lg' !default;
$Md:          'md' !default;
$Sm:          'sm' !default;
$Xsm:         'xsm' !default;
$Xxsm:        'xxsm' !default;


// Properties shortcuts (Default style)
// categorized by w3schools.com/cssref/default.asp
// --------------------------------------------------
// Property's Directions
$T:                     -t !default; // top
$R:                     -r !default; // right
$B:                     -b !default; // bottom
$L:                     -l !default; // left
$TL:                    -tl !default; // top-left
$TR:                    -tr !default; // top-right
$BR:                    -br !default; // bottom-right
$BL:                    -bl !default; // bottom-left

// Color
$Color:                         c !default; //a

// Background
$Background:                    bck !default;
$Background-attachment:         #{$Background}-at !default;
$Background-break:              #{$Background}-br !default;
$Background-color:              #{$Background}-co !default;
$Background-image:              #{$Background}-im !default;
$Background-position:           #{$Background}-po !default;
$Background-position-x:         #{$Background}-px !default;
$Background-position-y:         #{$Background}-py !default;
$Background-repeat:             #{$Background}-re !default;
$Background-clip:               #{$Background}-cl !default;
$Background-origin:             #{$Background}-or !default;
$Background-size:               #{$Background}-si !default;

// Border
$Border:                        brd !default;
$Border-top:                    #{$Border}#{$T} !default;
$Border-right:                  #{$Border}#{$R} !default;
$Border-bottom:                 #{$Border}#{$B} !default;
$Border-left:                   #{$Border}#{$L} !default;
// * to avoid unnecessary repetition and make class names more concise
// we change word order for color, style, width and radius properties
// color
$Border-color:                  brc !default;
$Border-top-color:              #{$Border-color}#{$T} !default;
$Border-right-color:            #{$Border-color}#{$R} !default;
$Border-bottom-color:           #{$Border-color}#{$B} !default;
$Border-left-color:             #{$Border-color}#{$L} !default;
// style
$Border-style:                  brs !default;
$Border-top-style:              #{$Border-style}#{$T} !default;
$Border-right-style:            #{$Border-style}#{$R} !default;
$Border-bottom-style:           #{$Border-style}#{$B} !default;
$Border-left-style:             #{$Border-style}#{$L} !default;
// width
$Border-width:                  brw !default;
$Border-top-width:              #{$Border-width}#{$T} !default;
$Border-right-width:            #{$Border-width}#{$R} !default;
$Border-bottom-width:           #{$Border-width}#{$B} !default;
$Border-left-width:             #{$Border-width}#{$L} !default;
// radius
$Border-radius:                 brr !default;
$Border-top-right-radius:       #{$Border-radius}#{$TR} !default;
$Border-top-left-radius:        #{$Border-radius}#{$TL} !default;
$Border-bottom-right-radius:    #{$Border-radius}#{$BR} !default;
$Border-bottom-left-radius:     #{$Border-radius}#{$BL} !default;

// Border-image
$Border-image:                  bri !default;
$Border-image-outset:           #{$Border-image}-ou !default;
$Border-image-repeat:           #{$Border-image}-re !default;
$Border-image-slice:            #{$Border-image}-sl !default;
$Border-image-source:           #{$Border-image}-so !default;
$Border-image-width:            #{$Border-image}-wi !default;

// Box shadow
$Box-shadow:                    bxsh !default; //*

// Basic Box Layout
$Box-sizing:                    bxsz !default; //*
$Clear:                         clr !default;
$Float:                         flt !default;
$Clip:                          clp !default;
$Vertical-align:                vra !default;
$Opacity:                       opc !default;
$Display:                       dsp !default;
$Visibility:                    vsb !default;
$Z-index:                       zi !default;
// Positioning
$Position:                      pst !default;
$Top:                           t !default; //a
$Right:                         r !default; //a
$Bottom:                        b !default; //a
$Left:                          l !default; //a
// Overflow
$Overflow:                      ovr !default;
$Overflow-x:                    #{$Overflow}-x !default;
$Overflow-y:                    #{$Overflow}-y !default;
$Overflow-style:                #{$Overflow}-s !default;
// Margin
$Margin:                        m !default; //a
$Margin-top:                    #{$Margin}#{$T} !default;
$Margin-right:                  #{$Margin}#{$R} !default;
$Margin-bottom:                 #{$Margin}#{$B} !default;
$Margin-left:                   #{$Margin}#{$L} !default;
// Padding
$Padding:                       p !default; //a
$Padding-top:                   #{$Padding}#{$T} !default;
$Padding-right:                 #{$Padding}#{$R} !default;
$Padding-bottom:                #{$Padding}#{$B} !default;
$Padding-left:                  #{$Padding}#{$L} !default;
// Height
$Height:                        h !default; //a
$Max-height:                    mxh !default;
$Min-height:                    mnh !default;
// Width
$Width:                         w !default; //a
$Max-width:                     mxw !default;
$Min-width:                     mnh !default;

// Flexbox Layout
$Align-content:                 alc !default;
$Align-items:                   ali !default;
$Align-self:                    als !default;
$Flex:                          flx !default;
$Flex-basis:                    #{$Flex}-ba !default;
$Flex-direction:                #{$Flex}-di !default;
$Flex-flow:                     #{$Flex}-fl !default;
$Flex-grow:                     #{$Flex}-gr !default;
$Flex-shrink:                   #{$Flex}-sh !default;
$Flex-wrap:                     #{$Flex}-wr !default;
$Justify-content:               jsc !default;
$Order:                         ord !default;

// Line-height
$Line-height:                   lnh !default;

// Text
// $Text_ is fake prefix to avoid collisions
$Text_:                         txt !default; //*
$Text-shadow:                   #{$Text_}-sh !default;
$Text-align:                    #{$Text_}-al !default;
$Text-emphasis:                 #{$Text_}-em !default;
$Text-height:                   #{$Text_}-he !default;
$Text-indent:                   #{$Text_}-in !default;
$Text-justify:                  #{$Text_}-ju !default;
$Text-outline:                  #{$Text_}-ou !default;
$Text-replace:                  #{$Text_}-re !default;
$Text-transform:                #{$Text_}-tr !default;
$Text-wrap:                     #{$Text_}-wr !default;
$Text-overflow:                 #{$Text_}-ov !default;

// Text-decoration
$Text-decoration:               txd !default;
$Text-decoration-color:         #{$Text-decoration}-co !default;
$Text-decoration-line:          #{$Text-decoration}-li !default;
$Text-decoration-style:         #{$Text-decoration}-st !default;

// Word, Letter, White space, Tab size
$Tab-size:                      tbs !default;
$Word-break:                    wrb !default;
$Word-spacing:                  wrs !default;
$Word-wrap:                     wrw !default;
$Letter-spacing:                lts !default;
$White-space:                   whs !default;
$White-space-collapse:          #{$White-space}-co !default;

// Font
$Font:                          fnt !default;
$Font-weight:                   #{$Font}-we !default;
$Font-style:                    #{$Font}-st !default;
$Font-variant:                  #{$Font}-va !default;
$Font-size:                     #{$Font}-sz !default;
$Font-size-adjust:              #{$Font}-sa !default;
$Font-family:                   #{$Font}-fa !default;
$Font-effect:                   #{$Font}-ef !default;
$Font-emphasize:                #{$Font}-em !default;
$Font-emphasize-position:       #{$Font}-ep !default;
$Font-emphasize-style:          #{$Font}-es !default;
$Font-smooth:                   #{$Font}-sm !default;
$Font-stretch:                  #{$Font}-str !default; //*

// Writing Modes
$Direction:                     drc !default;
$Unicode-bidi:                  unb !default;

// Table
$Border-collapse:               #{$Border}-co !default;
$Border-spacing:                #{$Border}-sp !default;
$Table-layout:                  tbl !default;
$Caption-side:                  cps !default;
$Empty-cells:                   emc !default;

// List
$List-style:                    lss !default;
$List-style-position:           #{$List-style}-po !default;
$List-style-type:               #{$List-style}-ty !default;
$List-style-image:              #{$List-style}-im !default;

// Animation
$Animation:                     anm !default;
$Animation-delay:               #{$Animation}-de !default;
$Animation-direction:           #{$Animation}-di !default;
$Animation-duration:            #{$Animation}-du !default;
$Animation-fill-mode:           #{$Animation}-fm !default;
$Animation-iteration-count:     #{$Animation}-ic !default;
$Animation-name:                #{$Animation}-na !default;
$Animation-play-state:          #{$Animation}-ps !default;
$Animation-timing-function:     #{$Animation}-tm !default;

// Transform
$Transform:                     trf !default; //*
$Transform-origin:              #{$Transform}-or !default;
$Transform-style:               #{$Transform}-st !default;
$Backface-visibility:           bcv !default;
$Perspective:                   prs !default;
$Perspective-origin:            #{$Perspective}-or !default;

// Transition
$Transition:                    tri !default; //*
$Transition-property:           #{$Transition}-pr !default;
$Transition-duration:           #{$Transition}-du !default;
$Transition-timing-function:    #{$Transition}-tf !default;
$Transition-delay:              #{$Transition}-de !default;

// User Interface
$Pointer-events:                pne !default;
$Cursor:                        crs !default;
$Zoom:                          zm !default;
$Resize:                        rsz !default;
$Outline:                       otl !default;
$Outline-color:                 #{$Outline}-co !default;
$Outline-offset:                #{$Outline}-of !default;
$Outline-width:                 #{$Outline}-wi !default;
$Outline-style:                 #{$Outline}-st !default;

// Multi-column Layout
$Columns:                       clm !default;
$Column-count:                  #{$Columns}-co !default;
$Column-fill:                   #{$Columns}-fi !default;
$Column-gap:                    #{$Columns}-ga !default;
$Column-rule:                   #{$Columns}-ru !default;
$Column-rule-color:             #{$Columns}-rc !default;
$Column-rule-style:             #{$Columns}-rs !default;
$Column-rule-width:             #{$Columns}-rw !default;
$Column-span:                   #{$Columns}-sp !default;
$Column-widht:                  #{$Columns}-wi !default;
$Orientation:                   orn !default;

// Paged Media
$Page-break-before:             pbb !default;
$Page-break-inside:             pbi !default;
$Page-break-after:              pba !default;
$Orphans:                       orp !default;
$Widows:                        wds !default;

// Generated content
$Content:                       cnt !default;
$Quotes:                        qts !default;
$Counter-increment:             cni !default;
$Counter-reset:                 cnr !default;

// Filter
$Filter:                        flt !default;

// * - exceptions to the rule
// a - intentional abbreviation of the name


// Properties shortcuts (Emmet style)
// copypasted from docs.emmet.io/cheat-sheet/, unfortunately much of properties
// are missed and some of properties don't even exists
// --------------------------------------------------
// Visual Formatting
$EPosition:                      pos !default;
$ETop:                           t !default;
$ERight:                         r !default;
$EBottom:                        b !default;
$ELeft:                          l !default;
$EZ-index:                       z !default;
$EFloat:                         fl !default;
$EDisplay:                       d !default;
$EVisibility:                    v !default;
$EOverflow:                      ov !default;
$EOverflow-x:                    ovx !default;
$EOverflow-y:                    ovy !default;
$EOverflow-style:                ovs !default;
$EZoom:                          zoo !default;
$EClip:                          cp !default;
$EResize:                        rsz !default;
$ECursor:                        cur !default;

// Margin & Padding
$EMargin:                        m !default;
$EMargin-top:                    mt !default;
$EMargin-right:                  mr !default;
$EMargin-bottom:                 mb !default;
$EMargin-left:                   ml !default;

$EPadding:                       p !default;
$EPadding-top:                   pt !default;
$EPadding-right:                 pr !default;
$EPadding-bottom:                pb !default;
$EPadding-left:                  pl !default;

// Box Sizing
$EBox-sizing:                    bxz !default;
$EBox-shadow:                    bxsh !default;
$EWidth:                         w !default;
$EHeight:                        h !default;
$EMax-width:                     maw !default;
$EMax-height:                    mah !default;
$EMax-width:                     mih !default;
$EMax-height:                    mih !default;

// Font
$EFont:                          f !default;
$EFont-weight:                   fw !default;
$EFont-style:                    fs !default;
$EFont-variant:                  fv !default;
$EFont-size:                     fz !default;
$EFont-size-adjust:              fza !default;
$EFont-family:                   ff !default;
$EFont-effect:                   fe !default;
$EFont-emphasize:                fem !default;
$EFont-emphasize-position:       femp !default;
$EFont-emphasize-style:          fems !default;
$EFont-smooth:                   fsm !default;
$EFont-stretch:                  fst !default;

// Text
$EVertical-align:                va !default;
$EText-align:                    ta !default;
// !Text-align-last
$EText-decoration:               td !default;
$EText-emphasis:                 tem !default;
$EText-height:                   th !default;
$EText-indent:                   ti !default;
$EText-justify:                  tj !default;
$EText-outline:                  to !default;
$EText-replace:                  tr !default;
$EText-transform:                tt !default;
$EText-wrap:                     tw !default;
$EText-shadow:                   tsh !default;
$ELine-height:                   lh !default;
$ELetter-spacing:                lts !default;
$EWhite-space:                   whs !default;
$EWhite-space-collapse:          whsc !default;
$EWord-break:                    wob !default;
$EWord-spacing:                  wos !default;
$EWord-wrap:                     wow !default;

// Background
$EBackground:                    bg !default;
$EBackground-color:              bgc !default;
$EBackground-image:              bgi !default;
$EBackground-repeat:             bgi !default;
$EBackground-attachment:         bga !default;
$EBackground-position:           bgp !default;
$EBackground-position-x:         bgpx !default;
$EBackground-position-y:         bgpy !default;
$EBackground-break:              bgb !default;
$EBackground-clip:               bgcp !default;
$EBackground-origin:             bgo !default;
$EBackground-size:               bgz !default;

// Color
$EColor:                         c !default;
$EOpacity:                       op !default;

// Generated content
$EContent:                       ct !default;
$EQuotes:                        q !default;
$ECounter-increment:             coi !default;
$ECounter-reset:                 cor !default;

// Outline
$EOutline:                       ol !default;
$EOutline-offset:                olo !default;
$EOutline-width:                 olw !default;
$EOutline-style:                 ols !default;

// Tables
$ETable-layout:                  tbl !default;
$ECaption-side:                  cps !default;
$EEmpty-cells:                   ec !default;

// Border
$EBorder:                        bd !default;
$EBorder-collapse:               bdcl !default;
$EBorder-image:                  bdi !default;
$EBorder-top-image:              bdti !default;
$EBorder-right-image:            bdri !default;
$EBorder-bottom-image:           bdbi !default;
$EBorder-left-image:             bdli !default;
$EBorder-corner-image:           bdci !default;
$EBorder-top-left-image:         bdtli !default;
$EBorder-top-right-image:        bdtri !default;
$EBorder-bottom-right-image:     bdbri !default;
$EBorder-bottom-left-image:      bdbli !default;
$EBorder-length:                 bdlen !default;
$EBorder-spacing:                bdsp !default;
$EBorder-style:                  bds !default;
$EBorder-width:                  bdw !default;
$EBorder-top:                    bdt !default;
$EBorder-top-width:              bdtw !default;
$EBorder-top-style:              bdts !default;
$EBorder-right:                  bdr !default;
$EBorder-right-width:            bdrw !default;
$EBorder-right-style:            bdrs !default;
$EBorder-bottom:                 bdb !default;
$EBorder-bottom-width:           bdbw !default;
$EBorder-bottom-style:           bdbs !default;
$EBorder-left:                   bdl !default;
$EBorder-left-width:             bdlw !default;
$EBorder-left-style:             bdls !default;
$EBorder-radius:                 bdrad !default;
$EBorder-top-right-radius:       bdtrrad !default;
$EBorder-top-left-radius:        bdtlrad !default;
$EBorder-bottom-right-radius:    bdbrrad !default;
$EBorder-bottom-left-radius:     bdblrad !default;

// List
$EList-style:                    lis !default;
$EList-style-position:           lisp !default;
$EList-style-type:               list !default;
$EList-style-image:              lisi !default;

// Print
$EPage-break-before:             pgbb !default;
$EPage-break-inside:             pgbi !default;
$EPage-break-after:              pgba !default;
$EOrphans:                       orp !default;
$EWidows:                        wid !default;

// Others
$EAnimation:                     anim !default;
$EColumns:                       col !default;
$EColumn-count:                  colc !default;
$EColumn-fill:                   colf !default;
$EColumn-gap:                    colg !default;
$EColumn-rule:                   colr !default;
$EColumn-rule-color:             colrc !default;
$EColumn-rule-style:             colrs !default;
$EColumn-rule-width:             colrw !default;
$EColumn-span:                   cols !default;
$EColumn-widht:                  colw !default;
$EOrientation:                   ori !default;
$ETransform:                     trf !default;
$ETransform-origin:              trfo !default;


// Customs selectors (under consideration)
// --------------------------------------------------
$disabled:    'disabled' !default;
$readonly:    'readonly' !default;

$input:             input !default;
$button:            btn !default;
$radio:             radio !default;
$checkbox:          chbox !default;
$input-readonly:    #{$input}-#{$readonly} !default;
$input-disabled:    #{$input}-#{$disabled} !default;
$radio-disabled:    #{$radio}-#{$disabled} !default;
$checkbox-disabled: #{$checkbox}-#{$disabled} !default;
$button-disabled:   #{$button}-#{$disabled} !default;