@import '../_globals.scss';
@import '../_naming.scss';
@import '../_functions.scss';
@import '../_mixins.scss';
@import '../_vr.scss';

// Default Variables
// --------------------------------------------------
  $basic: false !default;
  $basic-initiating: true !default;


// Output Styles
// --------------------------------------------------
@if $basic or $basic==static {

  @if $basic-initiating {
    #{$_all} {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }

    #{$html} {
      font-family: $font-family-main;
      font-size: $font-size;
      text-size-adjust: 100%;
    }

    #{$body} {
      margin:0;
      cursor: $cursor-default;
      direction: if($left==left, ltr, rtl);
      font-size: inherit;
      font-weight: normal;
      font-style: normal;
      line-height: tounit(round(tounit($line-height, px)), rem);
      text-rendering: optimizelegibility;
      &::selection {
        background-color: fade-out($selection-color, $selection-opacity);
      }

      #{$_headings} {
        margin:0;
        font-weight: inherit;
        font-size: inherit;
        color: inherit;
        text-rendering: optimizelegibility;
      }

      #{$h1} {}
      #{$h2} {}
      #{$h3} {}
      #{$h4} {}
      #{$h5} {}
      #{$h6} {}

      #{$p} {
        margin: 0;
      }

      #{$hr} {
        box-sizing: content-box;
        height: 0;
        border: none;
        margin: 0;
      }
    }

//    $basic-screens:  break-list(united, $screen-width-list, $screen-breakpoint);
//    $basic-font-size: 80%, 85%, 90%, 93%, 95%, 95%;
//    $basic-font-size: break-list(united, $screen-width-list, $screen-breakpoint, $basic-font-size);
//    $f: 1;
//    @while $f <= length($basic-screens) {
//      $screen: nth($basic-screens, $f);
//      $font-size: nth($basic-font-size, $f);
//
//      @media #{get-media(opened, $screen, $screen-width-list, $screen-breakpoint)} {
//
//        #{$html} {
//          font-size: $font-size;
//        }
//
//      }
//
//      $f: $f + 1;
//    }


  }
} $basic: false;
