@import '../_globals.scss';
@import '../_naming.scss';
@import '../_functions.scss';
@import '../_mixins.scss';

// Default Variables
// --------------------------------------------------
$images: false !default;
$images-initiating: true !default;


// Output Styles
// --------------------------------------------------
@if $images or $images==static {

  @if $images-initiating {
    #{$img} {
      border: 0;
      max-width: 100%;
      height: auto;
      vertical-align: middle;
      -ms-interpolation-mode: bicubic;
    }
    #{$map} {}
    #{$area} {}
    #{$canvas} {
      display: block;
      vertical-align: baseline;
    }
    #{$figcaption} {
      display: block;
    }
    #{$figure} {
      margin: 0;
      display: block;
    }
  }

} $images: false;
