@import '../_globals.scss';
@import '../_naming.scss';
@import '../_functions.scss';
@import '../_mixins.scss';

// Default Variables
// --------------------------------------------------
  $lists: true !default;


// Output Styles
// --------------------------------------------------
@if $lists or $lists==static {

  #{$_lists} {
    list-style: none;
    position:relative;
    padding: 0;
    margin: 0;
  }

  #{$ul} {}
  #{$ol} {}
  #{$li} {
    list-style: none;
  }

  #{$dl} {
    margin:0;
  }
  #{$dt} {}
  #{$dd} {
    margin:0;
  }

}

$lists: false;