@import '../_globals.scss';
@import '../_naming.scss';
@import '../_functions.scss';
@import '../_mixins.scss';

// Default Variables
// --------------------------------------------------
$sections: true !default;


// Output Styles
// --------------------------------------------------
@if $sections or $sections==static {

  #{$main} {
    display: block;
  }
  #{$header} {
    display: block;
  }
  #{$footer} {
    display: block;
  }
  #{$section} {
    display: block;
  }
  #{$article} {
    display: block;
  }
  #{$aside} {
    display: block;
  }
  #{$details} {
    display: block;
  }
  #{$dialog} {
    display: block;
  }
  #{$summary} {
    display: block;
  }

}

$sections: false;