// Defaults Classes
// ------------------------------------
@import '../vendors/element/framework/modules/defaults.scss';

// Custom Classes
// ------------------------------------

// Color
// ------------------
$color: color (
  default: (
    black, #000,
    white, #fff,
  ),
);
@include classes($Color, $color, $_media);

// Background
// ------------------
$background-color: background-color (
	black, $color-black,
	green, $color-green,
);
@include classes($Background-color, $background-color);

$background: background (
	nature, url('../images/backs/blur-nature.jpg') no-repeat center 60%,
);
@include classes($Background, $background);


// Box-shadow
// ------------------
$box-shadow: box-shadow (
    gray, 0px 1px 10px $rgba-gray,
);
@include classes($Box-shadow, $box-shadow);

// Text-shadow
// ------------------
$text-shadow: text-shadow (
    gray, 0px 1px 2px $rgba-gray,
);
@include classes($Text-shadow, $text-shadow);

// Border
// ------------------
$border-set: (
	blackd, 1px solid $color-black-dark,
);
@include classes($Border, border $border-set);
@include classes($Border-top, border-top $border-set);
@include classes($Border-bottom, border-bottom $border-set);
@include classes($Border-left, border-left $border-set);
@include classes($Border-right, border-right $border-set);

