// Element Variables
// -------------------------
// here you can overwrite global element variables start with $_*
// see element/_globals.scss for more available variables

// type settings
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300&subset=latin,cyrillic);
$_font-family: 'Open Sans', Arial, sans-serif;
$_font-size:    20px;
$_line-height:  1.7;

// responsive partitioning
$_media-unit: rem;
$_media:
  (
    default:    null,
    mobile:     media 'screen and (max-width:' 740px ')',
    tablet:     media 'screen and (max-width:' 1024px ')',
    laptop:     media 'screen and (min-width:' 1366px ')',
    //landscape:  media '(orientation: landscape)',
    //portrait:   media '(orientation: portrait)',
    touch:      '.touch',
  );

// Application Variables
// -------------------------

// Color Schemes
// --------------
// Basic Colors
$hex-transparent:   transparent;

$hex-black:         #222;
$hex-black-darken:  #111;

$hex-dark:          #444;
$hex-dark-darken:   #333;

$hex-gray:          #777;
$hex-gray-darken:   #666;

$hex-light:         #F4F4F4;
$hex-light-darken:  #dfdfdf;

$hex-white:         #fefefe;
$hex-white-darken:  #fff;

// Rainbow Colors
$hex-blue:            #2185CA;
$hex-blue-darken:     $hex-blue - #222;

$hex-green:           #4FC14F;
$hex-green-darken:    $hex-green - #222;

$hex-red:             #E6453F;
$hex-red-darken:      $hex-red - #111;

$hex-yellow:          #F2CB30;
$hex-yellow-darken:   $hex-yellow - #222;

$hex-orange:          #F77D14;
$hex-pink:            #C6538C;
$hex-purple:          #8A49BF;