// _helper.scss is a collection of helper classes from best practise.
// Customize it yourself.

// Text utils
.text-hidden {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

// Prevent callout (auto phone number detection on android)
.nocallout {
  -webkit-touch-callout: none;
}

// A workaround for S60 3.x and 5.0 devices which do not animated gif images if
// they have been set as display: none
.gifhidden {
  position: absolute;
  left: -100%;
}

// Image replacement
.ir {
  background-color: transparent;
  background-repeat: no-repeat;
  border: 0;
  direction: ltr;
  display: block;
  overflow: hidden;
  text-align: left;
  text-indent: -999em;
}
.ir br {
  display: none;
}

// Hide from both screenreaders and browsers: h5bp.com/u
.hidden {
  display: none !important;
  visibility: hidden;
}

// Hide only visually, but have it available for screenreaders: h5bp.com/v
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

// Extends the .visuallyhidden class to allow the element to be focusable
// when navigated to via the keyboard: h5bp.com/p
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

// Hide visually and from screenreaders, but maintain layout
.invisible {
  visibility: hidden;
}

// Clearfix helper
// Used to contain floats: h5bp.com/q
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
