// _imported.scss imports all built-in CSSELEMENT components. Default/predefined
// variables can be found in component's file. (!) Double check the import paths.

// _normalize.scs
// --------------------------------------------------
// initiates/reset/normalize all tags into unified appearance.
//@import 'path-to/css-element/components/normalize.scss';

// _container.scss
// --------------------------------------------------
// generates classes to hold main content wrapped and centered.
$container-media-params: (
  default: 960px,
  laptop: 940px,
  tablet: 700px,
  mobile: 100%,
);
//@import 'path-to/css-element/components/container.scss';

// _grid.scss
// --------------------------------------------------
// generates grid system classes to make page layout easy.
$grid-params: calc-grid(12, column-gap, (60px, 20px));
$grid-media-params: (
  default: $grid-params,
  laptop: $grid-params,
  tablet: $grid-params,
  mobile: $grid-params,
);
$grid-set: (
  default: columns offsets pushes pulles,
  laptop: columns offsets pushes pulles,
  tablet: columns offsets pushes pulles,
  mobile: columns offsets pushes pulles,
);
//@import 'path-to/css-element/components/grid.scss';
