// _set-type.scss adds the most commonly used sets for basic page layout.
// Customize it yourself.

$s: (); // temp sets storage

// Define Basic Variables
// --------------------------------------------------
// Set calc-line() baseline relative to line-height
$calc-line-baseline: $_line-height;
$calc-line-threshold: 100%;
// Spacing variables
$sz-default:  $Default   calc-line(1);
$sz-xxlg:     $Xxlg      calc-line(7);
$sz-xlg:      $Xlg       calc-line(5);
$sz-lg:       $Lg        calc-line(4);
$sz-md:       $Md        calc-line(3);
$sz-sm:       $Sm        calc-line(2);
$sz-xsm:      $Xsm       calc-line(0.5);
$sz-xxsm:     $Xxsm      calc-line(0.25);

// Define Sets
// --------------------------------------------------
// Top, Right, Bottom, Left
$trbl-set: (
  0, 0,
  auto, auto,
  nth($sz-default, 1), nth($sz-default, 2),
  nth($sz-xxlg, 1), nth($sz-xxlg, 2),
  nth($sz-xlg, 1), nth($sz-xlg, 2),
  nth($sz-lg, 1), nth($sz-lg, 2),
  nth($sz-md, 1), nth($sz-md, 2),
  nth($sz-sm, 1), nth($sz-sm, 2),
  nth($sz-xsm, 1), nth($sz-xsm, 2),
  nth($sz-xxsm, 1), nth($sz-xxsm, 2),
);
$s: add($s, $Top, top $trbl-set);
$s: add($s, $Right, right $trbl-set);
$s: add($s, $Bottom, bottom $trbl-set);
$s: add($s, $Left, left $trbl-set);

// Margin
$margin-set: (
  0, 0,
  auto, auto,
  nth($sz-default, 1), nth($sz-default, 2),
  nth($sz-xxlg, 1), nth($sz-xxlg, 2),
  nth($sz-xlg, 1), nth($sz-xlg, 2),
  nth($sz-lg, 1), nth($sz-lg, 2),
  nth($sz-md, 1), nth($sz-md, 2),
  nth($sz-sm, 1), nth($sz-sm, 2),
  nth($sz-xsm, 1), nth($sz-xsm, 2),
  nth($sz-xxsm, 1), nth($sz-xxsm, 2),
);
$s: add($s, $Margin, margin $margin-set);
$s: add($s, $Margin-top, margin-top $margin-set);
$s: add($s, $Margin-right, margin-right $margin-set);
$s: add($s, $Margin-bottom, margin-bottom $margin-set);
$s: add($s, $Margin-left, margin-left $margin-set);

// Padding
$padding-set: (
  0, 0,
  nth($sz-default, 1), nth($sz-default, 2),
  nth($sz-xxlg, 1), nth($sz-xxlg, 2),
  nth($sz-xlg, 1), nth($sz-xlg, 2),
  nth($sz-lg, 1), nth($sz-lg, 2),
  nth($sz-md, 1), nth($sz-md, 2),
  nth($sz-sm, 1), nth($sz-sm, 2),
  nth($sz-xsm, 1), nth($sz-xsm, 2),
  nth($sz-xxsm, 1), nth($sz-xxsm, 2),
);
$s: add($s, $Padding, padding $padding-set);
$s: add($s, $Padding-top, padding-top $padding-set);
$s: add($s, $Padding-right, padding-right $padding-set);
$s: add($s, $Padding-bottom, padding-bottom $padding-set);
$s: add($s, $Padding-left, padding-left $padding-set);

// Height, Width
$width-height-set: (
  default: (
    0, 0,
    100, 100%,
    auto, auto,
    nth($sz-default, 1), nth($sz-default, 2),
    nth($sz-xxlg, 1), nth($sz-xxlg, 2),
    nth($sz-xlg, 1), nth($sz-xlg, 2),
    nth($sz-lg, 1), nth($sz-lg, 2),
    nth($sz-md, 1), nth($sz-md, 2),
    nth($sz-sm, 1), nth($sz-sm, 2),
    nth($sz-xsm, 1), nth($sz-xsm, 2),
    nth($sz-xxsm, 1), nth($sz-xxsm, 2),
  ),
  media: all (prefix,
    100, 100%,
    auto, auto,
  ),
);
$s: add($s, $Height, height $width-height-set, $m);
$s: add($s, $Width, width $width-height-set, $m);

// Position
$s: add($s, $Position, position (
  all: (prefix,
    fixed, fixed,
    relative, relative,
    absolute, absolute,
  ),
), $m);

// Z-index
$s: add($s, $Z-index, z-index (
  1000, 1000,
  100, 100,
  50, 50,
  25, 25,
  5, 5,
  0, 0,
  n1, -1,
));

// Display
$s: add($s, $Display, display (
  all: (prefix,
    none, none,
    block, block,
    inline, inline,
    inline-block, inline-block,
    flex, flex,
  ),
), $m);

// Floats
$s: add($s, $Float, float (
  left, left,
  right, right,
  none, none,
));

// Visibility
$s: add($s, $Visibility, visibility (
  all: (prefix,
    visible, visible,
    hidden, hidden,
  ),
), $m);

// Opacity
$s: add($s, $Opacity, opacity (
  0, 0,
  1, 1,
));

// Overflow
$overflow-set: (
  auto, auto,
  hidden, hidden,
);
$s: add($s, $Overflow, overflow $overflow-set);
$s: add($s, $Overflow-x, overflow-x $overflow-set);
$s: add($s, $Overflow-y, overflow-y $overflow-set);

// Vertical-Align
$s: add($s, $Vertical-align, vertical-align (
  top, top,
  middle, middle,
  bottom, bottom,
));

// Flex
$s: add($s, $Flex, flex (
  1, 1,
  2, 2,
  3, 3,
  4, 4,
));

// Order
$s: add($s, $Order,  order (
  1, 1,
  2, 2,
  3, 3,
  4, 4,
));

// Justify-content
$s: add($s, $Justify-content, justify-content (
  start, flex-start,
  end, flex-end,
  center, center,
  between, space-between,
));

// Align-content
$align-set: (
  start, flex-start,
  end, flex-end,
  stretch, stretch,
  center, center,
  between, space-between,
);
$s: add($s, $Align-content, align-content $align-set);
$s: add($s, $Align-items, align-items $align-set);
$s: add($s, $Align-self, align-self $align-set);

// Flex-direction
$s: add($s, null, flex-direction (
  all: (prefix,
    row, row,
    row-reverse, row-reverse,
    column, column,
    column-reverse, column-reverse,
    nowrap, nowrap
  )
), $m);

// Cursor
$s: add($s, $Cursor, cursor (
  default, default,
  pointer, pointer,
));

// Render Styles
// --------------------------------------------------
// render all stored sets
@include sets($s, $m);
