@import '../_globals.scss';
@import '../_naming.scss';
@import '../_functions.scss';
@import '../_mixins.scss';

//@todo

// Default Variables
// --------------------------------------------------
  $content: false !default;

  $content-exclude: false !default;
  $content-include: diff-list((
      content
      ), $content-exclude) !default;

  $content-set: () !default;
  $content-set-default: () !default;
  $content-set-responsive: () !default;


// Mixins & Functions
// --------------------------------------------------

  //code


// Output Styles
// --------------------------------------------------
@if $content or $content==static {

  @if in-list(content, $content-include) {
    @include property(content, $Content, $content-set);
  }

}

@if $content or $content==responsive {

  //code

}

$content: false;