@import '../_globals.scss';
@import '../_naming.scss';
@import '../_functions.scss';
@import '../_mixins.scss';

// Default Variables
// --------------------------------------------------
  $visibility: false !default;

  $visibility-exclude: false !default;
  $visibility-include: diff-list((
    visibility-visible, visibility-hidden
    ), $visibility-exclude) !default;

  // Specific Media Visibilities
  // -------------------------------
  $visibility-print:      false !default;
  $visibility-touch:      true !default;
  $visibility-portrait:   false !default;
  $visibility-landscape:  false !default;


// Mixins & Functions
// --------------------------------------------------

  @mixin visibility($prefix:null) {
    $prefix: append-dash($prefix);

    @if in-list(visibility-visible, $visibility-include) {
      .#{$prefix}#{$Visibility}visible   {visibility:visible;}
    }
    @if in-list(visibility-hidden, $visibility-include) {
      .#{$prefix}#{$Visibility}hidden    {visibility:hidden;}
    }
  }

// Output Styles
// --------------------------------------------------
@if $visibility or $visibility == static {

  //media independent displaying
  @include visibility();

}

@if $visibility or $visibility == responsive {

  $visibility-screens:       break-list(united, $screen-list, $screen-breakpoint);
  $visibility-screen-names:  break-list(united, $screen-list, $screen-breakpoint, $screen-name-list);
  $f: 1;
  @while $f <= length($visibility-screens) {
    $screen: nth($visibility-screens, $f);
    $screen-name: nth($visibility-screen-names, $f);

    //screen visibilities
    @media #{get-media(closed, $screen, $screen-list, $screen-breakpoint)} {

      @include visibility($screen-name);

    }

    $f: $f + 1;
  }

  @if $visibility-print {
    @media print {@include visibility(print);}
  }
  @if $visibility-touch {
    .touch {@include visibility(touch);}
  }
  @if $visibility-landscape {
    @media (orientation: landscape) {@include visibility(landscape);}
  }
  @if $visibility-portrait {
    @media (orientation: portrait)  {@include visibility(portrait);}
  }

} $visibility: false;