// _css-init.scss simply contain init.css source code under init() mixin.
// See https://github.com/timfayz/init.css

@mixin init() {
  /* ==========================================================================
     1. HTML5 display correction (untouchable from Normalize.css)
     ========================================================================== */

  /*
   * Correct `block` display not defined for any HTML5 element in IE 8/9.
   * Correct `block` display not defined for `details` or `summary` in IE 10/11
   * and Firefox.
   * Correct `block` display not defined for `main` in IE 11.
   */
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup, /* removed from HTML5 */
  main,
  menu,
  nav,
  section,
  summary {
    display: block;
  }

  /*
   * 1. Correct `inline-block` display not defined in IE 8/9.
   * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
   */
  audio,
  canvas,
  progress,
  video {
    display: inline-block; /* 1 */
    vertical-align: baseline; /* 2 */
  }

  /*
   * Prevent modern browsers from displaying `audio` without controls.
   * Remove excess height in iOS 5 devices.
   */
  audio:not([controls]) {
    display: none;
    height: 0;
  }

  /*
   * Address `[hidden]` styling not present in IE 8/9/10.
   * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
   */
  [hidden],
  template {
    display: none;
  }


  /* ==========================================================================
     2. Normalize
     ========================================================================== */

  /* Global
     ========================================================================== */

  /*
   * We don't apply `border-box` model by default. `inherit` value gives easier way to
   * change the box-sizing in plugins or other components that leverage other behavior.
   */
  *, *:before, *:after {
    -moz-box-sizing: inherit;
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
  }

  /* Correct Windows 8 Metro split-screen snapping with IE10 */
  @-ms-viewport{
    width: device-width;
  }

  /* Root and Sections
     ========================================================================== */

  /*
   * 1. Set default font family to sans-serif.
   * 2. Prevent iOS text size adjust after orientation change, without disabling
   *    user zoom.
   */
  html {
    font-family: sans-serif; /* 1 */
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
  }

  /*
   * 1. Fix an exaggerated scaling factor when text is resized in IE6 and IE7.
   * 2. Reduce excessive font-weight in Firefox on Mac.
   * 3. Remove default margin.
   * 4. Address document's default left alignment.
   */
  body {
    font-size: 100%; /* 1 */
    -webkit-font-smoothing: antialiased; /* 2 */
    -moz-osx-font-smoothing: grayscale; /* 2 */
    margin: 0; /* 3 */
    text-align: left; /* 4 */
  }


  /* Grouping Content
     ========================================================================== */

  /* Contain overflow in all browsers. */
  /* Address odd `em`-unit font size rendering in all browsers. */
  pre {
    overflow: auto;
    font-family: monospace, monospace;
  }

  /* Text-level semantics
     ========================================================================== */

  /* Address style set to `bolder` in Firefox 4+, Safari, and Chrome. */
  b,
  strong {
    font-weight: bold;
  }

  /* Address styling not present in Safari and Chrome. */
  dfn {
    font-style: italic;
  }

  /* Address styling not present in IE 8/9. */
  mark {
    background: #ff0;
    color: #000;
  }

  /* Address inconsistent and variable font size in all browsers. */
  small {
    font-size: 80%;
  }

  /* Prevent `sub` and `sup` affecting `line-height` in all browsers. */
  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  sup {
    top: -0.5em;
  }
  sub {
    bottom: -0.25em;
  }

  code,
  kbd,
  samp {
    font-family: monospace, monospace;
  }

  /* Embedded content
     ========================================================================== */

  /* Correct overflow not hidden in IE 9/10/11. */
  svg:not(:root) {
    overflow: hidden;
  }

  /* Grouping content
     ========================================================================== */

  /* Address differences between Firefox and other browsers. */
  hr {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
  }

  /* Forms
     ========================================================================== */

  /* Address `overflow` set to `hidden` in IE 8/9/10/11. */
  button {
    overflow: visible;
  }

  /*
   * Address inconsistent `text-transform` inheritance for `button` and `select`.
   * All other form control elements do not inherit `text-transform` values.
   * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
   * Correct `select` style inheritance in Firefox.
   */
  button,
  select {
    text-transform: none;
  }

  /*
   * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
   *    and `video` controls.
   * 2. Correct inability to style clickable `input` types in iOS.
   */
  button,
  html input[type="button"], /* 1 */
  input[type="reset"],
  input[type="submit"] {
    -webkit-appearance: button; /* 2 */
  }

  /* Re-set default cursor for disabled elements. */
  [disabled] {
    cursor: default;
  }

  /* Remove inner padding and border in Firefox 4+. */
  button::-moz-focus-inner,
  input::-moz-focus-inner,
  select::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  /*
   * 1. Address box sizing set to `content-box` in IE 8/9/10.
   * 2. Remove excess padding in IE 8/9/10.
   */
  [type="checkbox"],
  [type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
  }

  /*
   * Fix the cursor style for Chrome's increment/decrement buttons. For certain
   * `font-size` values of the `input`, it causes the cursor style of the
   * decrement button to change from `default` to `text`.
   */
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    height: auto;
  }

  /*
   * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
   */
  input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
  }

  /*
   * Remove inner padding and search cancel button in Safari and Chrome on OS X.
   * Safari (but not Chrome) clips the cancel button when the search input has
   * padding (and `textfield` appearance).
   */
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
  }

  /* Remove default vertical scrollbar in IE 8/9/10/11. */
  textarea {
    overflow: auto;
  }

  /*
   * Don't inherit the `font-weight` (applied by a rule above).
   * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
   */
  optgroup {
    font-weight: bold;
  }

  /* Make sure editable elements brings up the keyboard in iOS7 WebKit. */
  input,
  textarea,
  [contenteditable] {
    -webkit-user-select: text;
    user-select: text;
  }


  /* ==========================================================================
     3. Reset
     ==========================================================================
   * If you need to prevent/apply reseting default UA styles, comment/uncomment
   * appropriate group of tags and corresponding sub-section.
   */

  /* Remove outline when object is focused or mouse is hovered/active in all browsers. */
  :active, :hover, :focus {
   outline: 0;
  }

  /* sections */
  article, section, nav, aside,
  h1, h2, h3, h4, h5, h6,
  footer, header, address,

  /* grouping content */
  p, hr, pre, blockquote,
  ol, ul, li, dl, dt, dd,
  figure, figcaption,
  main, div,

  /* text-level semantics */
  a, em, strong, small, s, cite, q, dfn, abbr,
  ruby, /*...*/
  time, code, var, samp, kbd, /*sub, sup,*/
  i, b, u, mark, /*bdi, bdo,*/ span, /*wbr,*/

  /* edits */
  del, ins,

  /* embedded content */
  img, iframe, embed, object, video, audio, map,

  /* tabular data */
  table, caption, tbody, thead, tfoot, tr, td, th,

  /* forms */
  form, label,
  input, button, select,
  details, optgroup, option, textarea,
  keygen, output, /*progress, meter,*/
  fieldset, legend,

  /* interactive elements */
  details, summary, menu, dialog,

  /* scripting */
  canvas

  /* deprecated */
  /*, acronym, applet, hgroup, big, strike, tt*/
  {
    margin: 0;
    padding: 0;
    border: 0;
    color: inherit;
    font: inherit;
    cursor: inherit;
  }

  /* Grouping content
     ========================================================================== */

  /* Address default `visible` value to prevent showing scrolling */
  pre {
    overflow: visible;
  }

  ol, ul {
    list-style: none;
  }

  /* Text-level semantics
     ========================================================================== */

  /* Remove default text decoration. */
  s, abbr, u {
    text-decoration: none;
  }

  /* Set quotes to default `inherit` value */
  q {
    quotes: inherit;
  }

  /*
   * 1. CSS 2, used to remove quotes in case "none" fails below.
   * 2. CSS 2.1, will remove quotes if supported, and override the above.
   */
  q::before, q::after {
    content: ''; /* 1 */
    content: none; /* 2 */
  }

  /* Remove default background. */
  mark {
    background: none;
  }

  /* 1. Prevents Firefox incorrect calculating height of an element containing it.
   * 2. [edit] W3C recomends to reset double indeting for `inline-block` elements. */
  span {
    /*display: inline-block;*/
    /*text-indent: 0;*/
    /*text-decoration: underline;*/
  }

  /* Links
     ========================================================================== */

  /* Remove the gray background color from active links in IE 10. */
  a {
    background: none;
  }

  /* Reset `color` and `text-decoration` for links with hyper reference */
  [href] {
    color: inherit;
    text-decoration: inherit;
  }

  /* Edits
     ========================================================================== */

  /* Remove default text decoration. */
  del, ins {
    text-decoration: none;
  }

  /* Embedded content
     ========================================================================== */

  /* 1. Set all embedded content to `inline-block` allowing us to set custom `height`
   * 2. Because most of form elements is shadow DOM with elements having `overflow:hidden`
   *    within, the containing `inline-block` element (hence input, select etc) "shifts"
   *    or increase overall line-height of its parent. `top` alignment fix this shift.
   *    Example and explanation: http://jsfiddle.net/ooL72ht4/, http://goo.gl/epc2vw
   */
  img, iframe, object, video, audio, svg {
    display: inline-block; /* 1 */
    vertical-align: top; /* 2 */
  }

  /* Tabular data
     ========================================================================== */

  /*
   * 1. Address inheritance of text alignment.
   * 2. Remove most spacing between table cells.
   */
  table {
    text-align: inherit; /* 1 */
    border-collapse: collapse; /* 2 */
    border-spacing: 0; /* 2 */
    text-decoration: inherit;
  }

  /* Address inheritance from parent `table` element. */
  caption, th {
    text-align: inherit;
  }

  /* Reset alignment to `baseline` for table blocks */
  thead, tbody, tfoot {
    vertical-align: baseline;
  }

  /* Forms
   * ==========================================================================
   * Forms elements have much of hardcoded logic and styles accross different browsers.
   * It makes the overall styling difficult and hacky.
   */

  /* Reset `color` and `opacity` for placeholders in Safari, Chrome, Firefox and IE */
  ::-webkit-input-placeholder { color: inherit;  }
  :-moz-placeholder           { color: inherit; opacity: 1; }
  ::-moz-placeholder          { color: inherit; opacity: 1; }
  :-ms-input-placeholder      { color: inherit; }

  /*
   * The preceded `input` tag is intentionally omitted (input[type="text"] ->
   * [type="text"]). It makes priority of .class selectors at the same or higher level
   * over `[attr="value"]` (if you styles goes later) or `tag[attr="value"]` selectors.
   * https://developer.mozilla.org/en-US/docs/Web/CSS/Specificity
   */

  /* Address hidding `hidden` input */
  [type="hidden"] {
    display: none;
  }

  /* Set a little width for `input`'s color picker by default */
  [type="color"] {
    width: 1em;
  }

  /*
   * 1. Unset custom height to default `auto` value.
   * 2. Correct vertical positioning of elements.
   */
  [type="checkbox"],
  [type="radio"] {
    height: auto; /* 1 */
    vertical-align: baseline; /* 2 */
  }

  /* Prevent overflowing of file upload button */
  [type="file"] {
    overflow: hidden;
  }

  /*
   * Make sure `vertical-align` value of shadowed file upload button is the same
   * as input itself
   */
  [type="file"]::-webkit-file-upload-button {
    vertical-align: inherit;
  }

  /* Reset `white-space` from `pre` to `inherit` for button-like inputs in WebKit, Firefox */
  [type="submit"],
  [type="reset"],
  [type="button"] {
    white-space: inherit;
  }

  /*
   * Reset displaying an element using a platform-native styling based on the users'
   * operating system's theme.
   */
  button, select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  /* Reset `white-space` from `pre` to `inherit` in WebKit */
  select {
    white-space: inherit;
  }

  /* Reset default background. */
  input, button, select, textarea {
    background: none;
  }

  /*
   * 1. Displaying `inline-block` allowing us to set custom `height` for form elements.
   * 2. W3C recommends to reset inheritance to avoid double indent of `inline-block`
   *    elements. See http://goo.gl/Qqtmfz.
   * 3. Address inheritance for form elements in all browsers.
   */
  label, input, button, select, textarea, keygen, output, progress, meter {
    display: inline-block; /* 1 */
    text-indent: 0; /* 2 */
    /* 3 */
    letter-spacing: inherit;
    word-spacing: inherit;
    text-transform: inherit;
    text-shadow: inherit;
    text-align: inherit;
    text-rendering: inherit;
  }

  /* See explanation above, section "Embedded content" */
  input, select, meter, progress, textarea, keygen {
    vertical-align: top;
  }

  /* Interactive elements
     ========================================================================== */

  /* Remove background in WebKit */
  dialog {
    background: none;
  }

  /* Scripting
     ========================================================================== */

  /*
   * 1. Displaying `inline-block` allowing us to set custom `height` for form elements.
   * 2. See explanation above, section "Embedded content".
   */
  canvas {
    display: inline-block; /* 1 */
    vertical-align: top; /* 2 */
  }

  @content;
}
