// _names.scss provides shorthands/abbreviations of all valid CSS properties
// which is intended to use in creating Sets (one class = one property).
//    .#{$Padding}-xsm {padding:10px;} -> pdd-xsm {...}
//    .#{$Box-shadow}-out {box-shadow: 0 1px 1px black;} -> bxsh-out {...}

// Constants
// ----------------------------------------
// set of common size names
$Max:         min;
$Default:     def;
$Xxlg:        xxlg;
$Xlg:         xlg;
$Lg:          lg;
$Md:          md;
$Sm:          sm;
$Xsm:         xsm;
$Xxsm:        xxsm;
$Min:         min;

// set of common weight names
$Thin:        100;
$Extra-Light: 200;
$Ultra-Light: 200;
$Light:       300;
$Normal:      400;
$Regular:     400;
$Medium:      500;
$Semi-Bold:   600;
$Bold:        700;
$Extra-Bold:  800;
$Ultra-Bold:  800;
$Black:       900;

// Property Direction Shortcuts
// ----------------------------------------
$T:   -t !default; // top
$R:   -r !default; // right
$B:   -b !default; // bottom
$L:   -l !default; // left
$TL:  -tl !default; // top-left
$TR:  -tr !default; // top-right
$BR:  -br !default; // bottom-right
$BL:  -bl !default; // bottom-left
$X:   -x !default; // x axis
$Y:   -y !default; // y axis

// Property Shortcuts
// ----------------------------------------
// Categorized by w3schools.com/cssref/default.asp.
// (!) Designed syntax guarantees good readability, brevity and intuitiveness as well
// as almost no collisions and repetitions between shorthands of different properties.
// There are only ~6 exceptions and some of them are very rarely used.
//
// Syntax:
//    1 word = first letter and two subsequent consonants:
//      [p]o[s]i[t]ion  = pst
//      [o][v]e[r]flow  = ovr
//
//    2 word = first letter, one subsequent consonant and the same for second word:
//      [b]o[x]-[s][h]adow  = bxsh
//      [f]o[n]t-[s]i[z]e   = fnsz
//
//    3 word = first letter, one subsequent consonant and two first letters of subsequent words:
//      [a][n]imation-[t]iming-[f]unction = antf
//      [b]o[r]der-[i]mage-[s]ource       = bris
//
//    Properties' direction abbreviated as follows (see previous section):
//      -top      = -t
//      -top-left = -tl
//      -bottom   = -b
//      -x/-y     = -x/-y
//
//    Properties' direction are not words and are always written separately at the end of
//    shorthand using hyphen:
//      border-top-color        = [b]o[r]der(-top-)[c]o[l]or        = brcl-t
//      border-top-left-radius  = [b]o[r]der(-top-left-)[r]a[d]ius  = brrd-tl
//      margin-bottom           = [m]a[r][g]in(-bottom)             = mrg-b
//      overflow-x              = [o][v]e[r]flow(-x)                = ovr-x
//
// Conventions:
//    * - exceptions to the rule
//    a - intentional abbreviation of the name
//    unofficial - properties do not standardized by World Wide Web Consortium
//    Note that there is no shorthands for deprecated CSS properties.

$All:                           all !default;

// Color
$Color:                         c !default; //a

// Background
$Background:                    bg !default; //a
$Background-attachment:         bgat !default;
$Background-break:              bgbr !default;
$Background-color:              bgcl !default;
$Background-image:              bgim !default;
$Background-position:           bgps !default;
$Background-position-x:         bgps#{$X} !default;
$Background-position-y:         bgps#{$Y} !default;
$Background-repeat:             bgrp !default;
$Background-clip:               bgcl !default;
$Background-origin:             bgor !default;
$Background-size:               bgsz !default;

// Border
$Border:                        brd !default;
$Border-top:                    brd#{$T} !default;
$Border-right:                  brd#{$R} !default;
$Border-bottom:                 brd#{$B} !default;
$Border-left:                   brd#{$L} !default;
// color
$Border-color:                  brcl !default;
$Border-top-color:              drcl#{$T} !default;
$Border-right-color:            drcl#{$R} !default;
$Border-bottom-color:           drcl#{$B} !default;
$Border-left-color:             drcl#{$L} !default;
// style
$Border-style:                  brst !default;
$Border-top-style:              brst#{$T} !default;
$Border-right-style:            brst#{$R} !default;
$Border-bottom-style:           brst#{$B} !default;
$Border-left-style:             brst#{$L} !default;
// width
$Border-width:                  brwd !default;
$Border-top-width:              brwd#{$T} !default;
$Border-right-width:            brwd#{$R} !default;
$Border-bottom-width:           brwd#{$B} !default;
$Border-left-width:             brwd#{$L} !default;
// radius
$Border-radius:                 brrd !default;
$Border-top-right-radius:       brrd#{$TR} !default;
$Border-top-left-radius:        brrd#{$TL} !default;
$Border-bottom-right-radius:    brrd#{$BR} !default;
$Border-bottom-left-radius:     brrd#{$BL} !default;

// Border-image
$Border-image:                  brim !default;
$Border-image-outset:           brio !default;
$Border-image-repeat:           brir !default;
$Border-image-width:            briw !default;
$Border-image-source:           bris !default;
$Border-image-slice:            brisl !default; //*

// Box shadow
$Box-shadow:                    bxsh !default;

// Basic Box Layout
$Box-sizing:                    bxsz !default;
$Vertical-align:                vral !default;
$Clear:                         clr !default;
$Float:                         flt !default;
$Opacity:                       opc !default;
$Display:                       dsp !default;
$Visibility:                    vsb !default;
$Clip-path:                     clpt !default;
$Z-index:                       z !default; //a
// Positioning
$Position:                      pst !default;
$Top:                           t !default; //a
$Right:                         r !default; //a
$Bottom:                        b !default; //a
$Left:                          l !default; //a
// Overflow
$Overflow:                      ovr !default;
$Overflow-x:                    ovr#{$X} !default;
$Overflow-y:                    ovr#{$Y} !default;
$Overflow-style:                ovst !default;
// Margin
$Margin:                        mrg !default;
$Margin-top:                    mrg#{$T} !default;
$Margin-right:                  mrg#{$R} !default;
$Margin-bottom:                 mrg#{$B} !default;
$Margin-left:                   mrg#{$L} !default;
// Padding
$Padding:                       pdd !default;
$Padding-top:                   pdd#{$T} !default;
$Padding-right:                 pdd#{$R} !default;
$Padding-bottom:                pdd#{$B} !default;
$Padding-left:                  pdd#{$L} !default;
// Height
$Height:                        h !default; //a
$Max-height:                    mxh !default;
$Min-height:                    mnh !default;
// Width
$Width:                         w !default; //a
$Max-width:                     mxw !default;
$Min-width:                     mnh !default;

// Flexbox Layout
$Align-content:                 alcn !default;
$Align-items:                   alit !default;
$Align-self:                    alsl !default;
$Flex:                          flx !default;
$Flex-basis:                    flbs !default;
$Flex-direction:                fldr !default;
$Flex-flow:                     flfl !default;
$Flex-grow:                     flgr !default;
$Flex-shrink:                   flsh !default;
$Flex-wrap:                     flwr !default;
$Justify-content:               jscn !default;
$Order:                         ord !default;

// Line-height
$Line-height:                   lnhg !default;

// Text
$Text-shadow:                   txsh !default;
$Text-align:                    txal !default;
$Text-emphasis:                 txem !default;
$Text-height:                   txhg !default;
$Text-indent:                   txin !default;
$Text-justify:                  txjs !default;
$Text-outline:                  txot !default;
$Text-replace:                  txrp !default;
$Text-transform:                txtr !default;
$Text-wrap:                     txwr !default;
$Text-overflow:                 txov !default;

// Text-decoration
$Text-decoration:               txdc !default;
$Text-decoration-color:         txdc !default;
$Text-decoration-line:          txdl !default;
$Text-decoration-style:         txds !default;

// Word, Letter, White space, Tab size
$Tab-size:                      tbsz !default;
$Word-break:                    wrbr !default;
$Word-spacing:                  wrsp !default;
$Word-wrap:                     wrwr !default;
$Letter-spacing:                ltsp !default;
$White-space:                   whsp !default;
$White-space-collapse:          whsc !default;

// Font
$Font:                          fnt !default;
$Font-weight:                   fnwg !default;
$Font-style:                    fnst !default;
$Font-variant:                  fnvr !default;
$Font-size:                     fnsz !default;
$Font-size-adjust:              fnsa !default;
$Font-family:                   fnfm !default;
$Font-effect:                   fnef !default;
$Font-emphasize:                fnem !default;
$Font-emphasize-position:       fnep !default;
$Font-emphasize-style:          fnes !default;
$Font-smooth:                   fnsm !default;
$Font-stretch:                  fnstr !default; //*

// Writing Modes
$Direction:                     drc !default;
$Unicode-bidi:                  unbd !default;

// Table
$Border-collapse:               brcll !default; //*
$Border-spacing:                brsp !default;
$Table-layout:                  tblt !default;
$Caption-side:                  cpsd !default;
$Empty-cells:                   emcl !default;

// List
$List-style:                    ls !default; //a
$List-style-position:           lssp !default;
$List-style-type:               lsst !default;
$List-style-image:              lsim !default;

// Animation
$Animation:                     anm !default;
$Animation-delay:               andl !default;
$Animation-direction:           andi !default; //*
$Animation-duration:            andu !default; //*
$Animation-fill-mode:           anfm !default;
$Animation-iteration-count:     anic !default;
$Animation-name:                annm !default;
$Animation-play-state:          anps !default;
$Animation-timing-function:     antf !default;

// Transform
$Transform:                     tf !default; //a
$Transform-origin:              tfor !default;
$Transform-style:               tfst !default;
$Backface-visibility:           bcvs !default;
$Perspective:                   prs !default;
$Perspective-origin:            pror !default;

// Transition
$Transition:                    trn !default;
$Transition-property:           trpr !default;
$Transition-duration:           trdr !default;
$Transition-timing-function:    trtf !default;
$Transition-delay:              trdl !default;

// User Interface
$Pointer-events:                pnev !default;
$Cursor:                        crs !default;
$User-select:                   ussl !default; //unofficial
$Zoom:                          zm !default;
$Resize:                        rsz !default;
$Outline:                       otl !default;
$Outline-color:                 otcl !default;
$Outline-offset:                otof !default;
$Outline-width:                 otwd !default;
$Outline-style:                 otst !default;

// Multi-column Layout
$Columns:                       clm !default;
$Column-count:                  clcn !default;
$Column-fill:                   clfl !default;
$Column-gap:                    clgp !default;
$Column-rule:                   clrl !default;
$Column-rule-color:             clrc !default;
$Column-rule-style:             clrs !default;
$Column-rule-width:             clrw !default;
$Column-span:                   clsp !default;
$Column-widht:                  clwd !default;
$Orientation:                   orn !default;

// Paged Media
$Page-break-before:             pgbb !default;
$Page-break-inside:             pgbi !default;
$Page-break-after:              pgba !default;
$Orphans:                       orp !default;
$Widows:                        wds !default;

// Generated content
$Content:                       cnt !default;
$Quotes:                        qts !default;
$Counter-increment:             cnin !default;
$Counter-reset:                 cnrs !default;

// Filter
$Filter:                        flt !default;

// Image
$Image-orientation:             imor !default;
$Image-rendering:               imrn !default;
$Image-resolution:              imrs !default;

// Replaced Content
// developer.mozilla.org/en-US/docs/Web/CSS/Replaced_element
$Object-fit:                    obft !default;
$Object-position:               obps !default;
