@import '../_.scss'; // import CSS-ELEMENT

// Default Variables
// --------------------------------------------------
$set: true !default;

$set-media: $_media;

// Z-index Levels
// -------------------------
$set-z-default:   $_z-default !default;
$set-z-xsm:       $_z-xsm !default;
$set-z-sm:        $_z-sm !default;
$set-z-md:        $_z-md !default;
$set-z-lg:        $_z-lg !default;
$set-z-xlg:       $_z-xlg !default;

// Sizing (n = n * line-height)
// -------------------------
// eg 3 = 3 * line-height
$set-size-default:    $_size-default !default;
$set-size-xxsm:       $_size-xxsm !default;
$set-size-xsm:        $_size-xsm !default;
$set-size-sm:         $_size-sm !default;
$set-size-md:         $_size-md !default;
$set-size-lg:         $_size-lg !default;
$set-size-xlg:        $_size-xlg !default;
$set-size-xxlg:       $_size-xxlg !default;

// Typography
// -------------------------
$set-font-family-sans:    $_font-family-sans;
$set-font-family-serif:   $_font-family-serif;
$set-font-family-mono:    $_font-family-mono;

$set-font-size-default:   $_font-size !default;
$set-font-size-xxlg:      $_font-size * 6 !default;
$set-font-size-xlg:       $_font-size * 3.1 !default;
$set-font-size-lg:        $_font-size * 2.5 !default;
$set-font-size-md:        $_font-size * 1.9 !default;
$set-font-size-sm:        $_font-size * 1.3 !default;
$set-font-size-xsm:       $_font-size * 0.8 !default;
$set-font-size-xxsm:      $_font-size * 0.6 !default;

// Output Styles
// --------------------------------------------------
@if $set {

  // Z-index
  // ---------------
  $set-z-index: z-index (
    default: (
      n1, -1,
      0, 0,
      $Default, $set-z-default,
      $Xsm, $set-z-xsm,
      $Sm, $set-z-sm,
      $Md, $set-z-md,
      $Lg, $set-z-lg,
      $Xlg, $set-z-xlg,
    )
  ) !default;
  @include set($Z-index, $set-z-index, $set-media);

  // Opacity
  // -----------------
  $set-opacity: opacity (
    default: (
      0, 0,
      1, 1,
    )
  ) !default;
  @include set($Opacity, $set-opacity, $set-media);
  
  // Position
  // ------------------
  $set-position: position (
    all: (prefix,
      fixed, fixed,
      relative, relative,
      absolute, absolute,
    ),
  ) !default;
  @include set(null, $set-position, $set-media);

  // Vertical-Align
  // ----------------
  $set-vertical-align: vertical-align (
    default: (
      top, top,
      middle, middle,
      bottom, bottom,
    ),
  ) !default;
  @include set($Vertical-align, $set-vertical-align, $set-media);

  // Top, Right, Bottom, Left
  // ------------------------
  $set-top-right-bottom-left-set: (
    default: (
      0, 0,
      auto, auto,
      $Default, vr($set-size-default),
      $Xxsm, vr($set-size-xxsm),
      $Xsm, vr($set-size-xsm),
      $Sm, vr($set-size-sm),
      $Md, vr($set-size-md),
      $Lg, vr($set-size-lg),
      $Xlg, vr($set-size-xlg),
      $Xxlg, vr($set-size-xxlg),
    ),
  ) !default;
  @include set($Top, top $set-top-right-bottom-left-set, $set-media);
  @include set($Right, right $set-top-right-bottom-left-set, $set-media);
  @include set($Bottom, bottom $set-top-right-bottom-left-set, $set-media);
  @include set($Left, left $set-top-right-bottom-left-set, $set-media);

  // Margin
  // -----------------
  $set-margin-set: (
    0, 0,
    auto, auto,
    $Default, vr($set-size-default),
    $Xxsm, vr($set-size-xxsm),
    $Xsm, vr($set-size-xsm),
    $Sm, vr($set-size-sm),
    $Md, vr($set-size-md),
    $Lg, vr($set-size-lg),
    $Xlg, vr($set-size-xlg),
    $Xxlg, vr($set-size-xxlg),
  ) !default;
  @include set($Margin, margin $set-margin-set);
  @include set($Margin-top, margin-top $set-margin-set);
  @include set($Margin-right, margin-right $set-margin-set);
  @include set($Margin-bottom, margin-bottom $set-margin-set);
  @include set($Margin-left, margin-left $set-margin-set);
  
  // Padding
  // -----------------
  $set-padding-set: (
    0, 0,    
    $Default, vr($set-size-default),
    $Xxsm, vr($set-size-xxsm),
    $Xsm, vr($set-size-xsm),
    $Sm, vr($set-size-sm),
    $Md, vr($set-size-md),
    $Lg, vr($set-size-lg),
    $Xlg, vr($set-size-xlg),
    $Xxlg, vr($set-size-xxlg),
  ) !default;
  @include set($Padding, padding $set-padding-set);
  @include set($Padding-top, padding-top $set-padding-set);
  @include set($Padding-right, padding-right $set-padding-set);
  @include set($Padding-bottom, padding-bottom $set-padding-set);
  @include set($Padding-left, padding-left $set-padding-set);
  
  // Line-Height
  // ---------------------
  $set-line-height: line-height (
    default: (
      $Default, vr($set-size-default),
      $Xxsm, vr($set-size-xxsm),
      $Xsm, vr($set-size-xsm),
      $Sm, vr($set-size-sm),
      $Md, vr($set-size-md),
      $Lg, vr($set-size-lg),
      $Xlg, vr($set-size-xlg),
      $Xxlg, vr($set-size-xxlg),
    ),
  ) !default;
  @include set($Line-height, $set-line-height, $set-media);

  // Height, Width
  // ----------------------
  $set-width-height-set: (
    default: (
      0, 0,
      100, 100%,
      auto, auto,
      $Default, vr($set-size-default),
      $Xxsm, vr($set-size-xxsm),
      $Xsm, vr($set-size-xsm),
      $Sm, vr($set-size-sm),
      $Md, vr($set-size-md),
      $Lg, vr($set-size-lg),
      $Xlg, vr($set-size-xlg),
      $Xxlg, vr($set-size-xxlg),
    ),
    media: all (prefix,
      100, 100%,
      auto, auto,
    ),
  ) !default;
  @include set($Height, height $set-width-height-set, $set-media);
  @include set($Width, width $set-width-height-set, $set-media);


  // Flex
  // ----------------------
  $set-flex: flex (
    default: (
      1, 1,
      2, 2,
      3, 3,
      4, 4,
    )
  ) !default;
  @include set($Flex, $set-flex, $set-media);

  // Order
  // ----------------------
  $set-order: order (
    default: (
      1, 1,
      2, 2,
      3, 3,
      4, 4,
    )
  ) !default;
  @include set($Order, $set-order, $set-media);

  // Justify-content
  // ----------------------
  $set-justify-content: justify-content (
    default: (
      start, flex-start,
      end, flex-end,
      center, center,
      between, space-between,
    )
  ) !default;
  @include set($Justify-content, $set-justify-content, $set-media);

  // Align-content
  // ----------------------
  $set-align-set: (
    default: (
      start, flex-start,
      end, flex-end,
      stretch, stretch,
      center, center,
      between, space-between,
    )
  ) !default;
  @include set($Align-content, align-content $set-align-set, $set-media);
  @include set($Align-items, align-items $set-align-set, $set-media);
  @include set($Align-self, align-self $set-align-set, $set-media);
  
  // Flex-direction
  // ----------------------
  $set-flex-direction: flex-direction (
    all: (prefix,
      row, row,
      row-reverse, row-reverse,
      column, column,
      column-reverse, column-reverse,
      nowrap, nowrap
    )
  );
  @include set(null, $set-flex-direction, $set-media);
        
  // Border
  // --------------------
  $set-border-set: (
      0, 0
  ) !default;
  @include set($Border, border $set-border-set);
  @include set($Border-top, border-top $set-border-set);
  @include set($Border-right, border-right $set-border-set);
  @include set($Border-bottom, border-bottom $set-border-set);
  @include set($Border-left, border-left $set-border-set);

  // Display
  // ----------------------
  $set-display: display (
    default: (
      table, table,
      //table-row, table-row,
      //table-cell, table-cell,
      //table-caption, table-caption,
      //table-header, table-header-group,
      //table-body, table-row-group,
      //table-footer, table-footer-group,
    ),
    all: (prefix
      none, none,
      block, block,
      inline, inline,
      inline-block, inline-block,
      flex, flex,
    ),
  ) !default;
  @include set($Display, $set-display, $set-media);

  // Visibility
  // ----------------------
  $set-visibility: visibility (
    all: (prefix,
      visible, visible,
      hidden, hidden,
    ),
  ) !default;
  @include set($Visibility, $set-visibility, $set-media);

  // List-style
  // ----------------------
  $set-list-style: list-style (
    none, none,
    disc, disc,
    square, square
  ) !default;
  @include set($List-style, $set-list-style);


  // Font-Family
  // ---------------------
  $font-family: font-family (
    sans, $set-font-family-sans,
    serif, $set-font-family-serif,
    mono, $set-font-family-mono,
  ) !default;
  @include set($Font-family, $font-family);

  // Font-Size
  // ---------------------
  $set-font-size: font-size (
    default: (
      $Default, $set-font-size-default,
      $Xxsm, $set-font-size-xxsm,
      $Xsm, $set-font-size-xsm,
      $Sm, $set-font-size-sm,
      $Md, $set-font-size-md,
      $Lg, $set-font-size-lg,
      $Xlg, $set-font-size-xlg,
      $Xxlg, $set-font-size-xxlg
    ),
  ) !default;
  @include set($Font-size, $set-font-size, $set-media);

  // Font-Weight
  // ---------------------
  $set-font-weight: font-weight (
    normal, normal,
    bold, bold
  ) !default;
  @include set($Font-weight, $set-font-weight);

  // Font-Style
  // ---------------------
  $set-font-style: font-style (
    italic, italic,
    normal, normal
  ) !default;
  @include set($Font-style, $set-font-style);

  // Text-Decoration
  // ---------------------
  $set-text-decoration: text-decoration (
    underline, underline,
    through, line-through
  ) !default;
  @include set($Text-decoration, $set-text-decoration);

  // Text-Transform
  // ---------------------
  $set-text-transform: text-transform (
    upper, uppercase,
    lower, lowercase,
    capital, capitalize
  ) !default;
  @include set($Text-transform, $set-text-transform);

  // Text-Align
  // ---------------------
  $set-text-align: text-align (
    default: (
      left, left,
      right, right,
      center, center,
      justify, justify,
    ),
  ) !default;
  @include set($Text-align, $set-text-align, $set-media);

  // White-space
  // ---------------------
  $set-white-space: white-space (
    default: (
      pre, pre,
      pre-wrap, pre-wrap,
      pre-line, pre-line,
      nowrap, nowrap,
    ),
  ) !default;
  @include set($White-space, $set-white-space, $set-media);

  // Floats
  // ---------------------
  $set-float: float (
    default: (
      left, left,
      right, right,
      none, none,
    ),
  ) !default;
  @include set($Float, $set-float, $set-media);

  // Overflow
  // ---------------------
  $set-overflow-set: (
    default: (
      auto, auto,
      hidden, hidden,
    ),
  ) !default;
  @include set($Overflow, overflow $set-overflow-set, $set-media);
  @include set($Overflow-x, overflow-x $set-overflow-set, $set-media);
  @include set($Overflow-y, overflow-y $set-overflow-set, $set-media);

  // Cursor
  // ---------------------
  $set-cursor: cursor (
    default, $_cursor-default,
    pointer, $_cursor-pointer,
    help, $_cursor-help,
    not-allowed, $_cursor-not-allowed,
    crosshair, $_cursor-crosshair,
    move, $_cursor-move,
    progress, $_cursor-progress,
    wait, $_cursor-wait,
    text, $_cursor-text,
    //n-resize, $_cursor-n-resize,
    //e-resize, $_cursor-e-resize,
    //w-resize, $_cursor-w-resize,
    //s-resize, $_cursor-s-resize,
    //sw-resize, $_cursor-sw-resize,
    //ne-resize, $_cursor-sw-resize,
    //nw-resize, $_cursor-se-resize,
    //se-resize, $_cursor-se-resize,
  ) !default;
  @include set($Cursor, $set-cursor);

}