@import '../_.scss'; // import core files

// Default Variables
// --------------------------------------------------
$set: true !default;


// Output Styles
// --------------------------------------------------
@if $set {

  // Z-index
  // ---------------
  $set-z-index: z-index (
    default: (
      0, 0,
      $Default, $_z-default,
      $Xsm, $_z-xsm,
      $Sm, $_z-sm,
      $Md, $_z-md,
      $Lg, $_z-lg,
      $Xlg, $_z-xlg,
    )
  ) !default;
  @include set($Z-index, $set-z-index, $_media);

  // Opacity
  // -----------------
  $set-opacity: opacity (
    default: (
      0, 0,
      1, 1,
      $Xxsm, 0.1,
      $Xsm, 0.2,
      $Sm, 0.3,
      $Md, 0.5,
      $Lg, 0.6,
      $Xlg, 0.7,
      $Xxlg, 0.9
    )
  ) !default;
  @include set($Opacity, $set-opacity, $_media);
  
  // Position
  // ------------------
  $set-position: position (
    default: (
      fixed, fixed,
      relative, relative,
      absolute, absolute,
    ),
    laptop: (prefix,
      fixed, fixed,
      relative, relative,
      absolute, absolute,
    ),
    tablet: (prefix,
      fixed, fixed,
      relative, relative,
      absolute, absolute,
    ),
    mobile: (prefix,
      fixed, fixed,
      relative, relative,
      absolute, absolute,
    ),
  ) !default;
  @include set($Position, $set-position, $_media);

  // Vertical-Align
  // ----------------
  $set-vertical-align: vertical-align (
    default: (
      top, top,
      middle, middle,
      bottom, bottom,
    ),
  ) !default;
  @include set($Vertical-align, $set-vertical-align, $_media);

  // Top, Right, Bottom, Left
  // ------------------------
  $set-top-right-bottom-left-set: (
    default: (
      0, 0,
      auto, auto,
      $Default, vr($_size-default),
      $Xxsm, vr($_size-xxsm),
      $Xsm, vr($_size-xsm),
      $Sm, vr($_size-sm),
      $Md, vr($_size-md),
      $Lg, vr($_size-lg),
      $Xlg, vr($_size-xlg),
      $Xxlg, vr($_size-xxlg),
    ),
  ) !default;
  @include set($Top, top $set-top-right-bottom-left-set, $_media);
  @include set($Right, right $set-top-right-bottom-left-set, $_media);
  @include set($Bottom, bottom $set-top-right-bottom-left-set, $_media);
  @include set($Left, left $set-top-right-bottom-left-set, $_media);

  // Margin
  // -----------------
  $set-margin-set: (
    default: (
      0, 0,
      auto, auto,
      $Default, vr($_size-default),
      $Xxsm, vr($_size-xxsm),
      $Xsm, vr($_size-xsm),
      $Sm, vr($_size-sm),
      $Md, vr($_size-md),
      $Lg, vr($_size-lg),
      $Xlg, vr($_size-xlg),
      $Xxlg, vr($_size-xxlg),
    )
  ) !default;
  @include set($Margin, margin $set-margin-set, $_media);
  @include set($Margin-top, margin-top $set-margin-set, $_media);
  @include set($Margin-right, margin-right $set-margin-set, $_media);
  @include set($Margin-bottom, margin-bottom $set-margin-set, $_media);
  @include set($Margin-left, margin-left $set-margin-set, $_media);
  
  // Padding
  // -----------------
  $set-padding-set: (
    default: (
      0, 0,    
      $Default, vr($_size-default),
      $Xxsm, vr($_size-xxsm),
      $Xsm, vr($_size-xsm),
      $Sm, vr($_size-sm),
      $Md, vr($_size-md),
      $Lg, vr($_size-lg),
      $Xlg, vr($_size-xlg),
      $Xxlg, vr($_size-xxlg),
    )
  ) !default;
  @include set($Padding, padding $set-padding-set, $_media);
  @include set($Padding-top, padding-top $set-padding-set, $_media);
  @include set($Padding-right, padding-right $set-padding-set, $_media);
  @include set($Padding-bottom, padding-bottom $set-padding-set, $_media);
  @include set($Padding-left, padding-left $set-padding-set, $_media);
  
  // Line-Height
  // ---------------------
  $set-line-height: line-height (
    default: (
      $Default, vr($_size-default),
      $Xxsm, vr($_size-xxsm),
      $Xsm, vr($_size-xsm),
      $Sm, vr($_size-sm),
      $Md, vr($_size-md),
      $Lg, vr($_size-lg),
      $Xlg, vr($_size-xlg),
      $Xxlg, vr($_size-xxlg),
    ),
  ) !default;
  @include set($Line-height, $set-line-height, $_media);

  // Height, Width
  // ----------------------
  $set-width-height-set: (
    default: (
      0, 0,
      100, 100%,
      auto, auto,
      $Default, vr($_size-default),
      $Xxsm, vr($_size-xxsm),
      $Xsm, vr($_size-xsm),
      $Sm, vr($_size-sm),
      $Md, vr($_size-md),
      $Lg, vr($_size-lg),
      $Xlg, vr($_size-xlg),
      $Xxlg, vr($_size-xxlg),
    ),
    laptop: (prefix,
      100, 100%,
      auto, auto,
    ),
    tablet: (prefix,
      100, 100%,
      auto, auto,
    ),
    mobile: (prefix,
      100, 100%,
      auto, auto,
    ),
  ) !default;
  @include set($Height, height $set-width-height-set, $_media);
  @include set($Width, width $set-width-height-set, $_media);


  // Flex
  // ----------------------
  $set-flex: flex (
    default: (
      1, 1,
      2, 2,
      3, 3,
      4, 4,
    )
  ) !default;
  @include set($Flex, $set-flex, $_media);

  // Order
  // ----------------------
  $set-order: order (
    default: (
      1, 1,
      2, 2,
      3, 3,
      4, 4,
    )
  ) !default;
  @include set($Order, $set-order, $_media);

  // Justify-content
  // ----------------------
  $set-justify-content: justify-content (
    default: (
      start, flex-start,
      end, flex-end,
      center, center,
      between, space-between,
    )
  ) !default;
  @include set($Justify-content, $set-justify-content, $_media);


  // Align-content
  // ----------------------
  $set-align-set: (
    default: (
      start, flex-start,
      end, flex-end,
      stretch, stretch,
      center, center,
      between, space-between,
    )
  ) !default;
  @include set($Align-content, align-content $set-align-set, $_media);
  @include set($Align-items, align-items $set-align-set, $_media);
  @include set($Align-self, align-self $set-align-set, $_media);

  // Border
  // --------------------
  $set-border-set: (
    default: (
      0, 0
    ),
  ) !default;
  @include set($Border, border $set-border-set, $_media);
  @include set($Border-top, border-top $set-border-set, $_media);
  @include set($Border-right, border-right $set-border-set, $_media);
  @include set($Border-bottom, border-bottom $set-border-set, $_media);
  @include set($Border-left, border-left $set-border-set, $_media);

  // Display
  // ----------------------
  $set-display: display (
    default: (
      none, none,
      block, block,
      inline, inline,
      inline-block, inline-block,
      flex, flex,
      table, table,
      //table-row, table-row,
      //table-cell, table-cell,
      //table-caption, table-caption,
      //table-header, table-header-group,
      //table-body, table-row-group,
      //table-footer, table-footer-group,
    ),
    laptop: (prefix,
      none, none,
      block, block,
      inline, inline,
      inline-block, inline-block,
      flex, flex,
    ),
    tablet: (prefix,
      none, none,
      block, block,
      inline, inline,
      inline-block, inline-block,
      flex, flex,
    ),
    mobile: (prefix,
      none, none,
      block, block,
      inline, inline,
      inline-block, inline-block,
      flex, flex,
    ),
    //@todo add portrait, landscape etc
  ) !default;
  @include set($Display, $set-display, $_media);

  // Visibility
  // ----------------------
  $set-visibility: visibility (
    default: (
      visible, visible,
      hidden, hidden,
    ),
    laptop: (prefix,
      visible, visible,
      hidden, hidden,
    ),
    tablet: (prefix,
      visible, visible,
      hidden, hidden,
    ),
    mobile: (prefix,
      visible, visible,
      hidden, hidden,
    ),
    //@todo add portrait, landscape etc
  ) !default;
  @include set($Visibility, $set-visibility, $_media);

  // List-style
  // ----------------------
  $set-list-style: list-style (
    default: (
      none, none,
      disc, disc,
      square, square
    )
  ) !default;
  @include set($List-style, $set-list-style, $_media);


  // Font-Family
  // ---------------------
  $font-family: font-family (
    default: (
      sans, $_font-family-sans,
      serif, $_font-family-serif,
      mono, $_font-family-mono,
    ),
  ) !default;
  @include set($Font-family, $font-family, $_media);

  // Font-Size
  // ---------------------
  $set-font-size: font-size (
    default: (
      $Default, $_font-size-default,
      $Xxsm, $_font-size-xxsm,
      $Xsm, $_font-size-xsm,
      $Sm, $_font-size-sm,
      $Md, $_font-size-md,
      $Lg, $_font-size-lg,
      $Xlg, $_font-size-xlg,
      $Xxlg, $_font-size-xxlg
    ),
  ) !default;
  @include set($Font-size, $set-font-size, $_media);

  // Font-Weight
  // ---------------------
  $set-font-weight: font-weight (
    default: (
      normal, normal,
      bold, bold
    ),
  ) !default;
  @include set($Font-weight, $set-font-weight, $_media);

  // Font-Style
  // ---------------------
  $set-font-style: font-style (
    default: (
      italic, italic,
      normal, normal
    ),
  ) !default;
  @include set($Font-style, $set-font-style, $_media);

  // Text-Decoration
  // ---------------------
  $set-text-decoration: text-decoration (
    default: (
      underline, underline,
      through, line-through
    ),
  ) !default;
  @include set($Text-decoration, $set-text-decoration, $_media);

  // Text-Transform
  // ---------------------
  $set-text-transform: text-transform (
    default: (
      uppercase, uppercase,
      lowercase, lowercase,
      capitalize, capitalize
    ),
  ) !default;
  @include set($Text-transform, $set-text-transform, $_media);

  // Text-Align
  // ---------------------
  $set-text-align: text-align (
    default: (
      left, left,
      right, right,
      center, center,
      justify, justify,
    ),
  ) !default;
  @include set($Text-align, $set-text-align, $_media);

  // White-space
  // ---------------------
  $set-white-space: white-space (
    default: (
      pre, pre,
      pre-wrap, pre-wrap,
      pre-line, pre-line,
      nowrap, nowrap,
    ),
  ) !default;
  @include set($White-space, $set-white-space, $_media);

  // Text utils
  // ---------------------
  $set-text-utils: true !default;
  @if $set-text-utils {
    .text-hidden {
      font: 0/0 a;
      color: transparent;
      text-shadow: none;
      background-color: transparent;
      border: 0;
    }
    .text-clip {
      white-space:nowrap;
      overflow:hidden;
      text-overflow:clip;
    }
    .text-ellipsis {
      white-space:nowrap;
      overflow:hidden;
      text-overflow:ellipsis;
    }
  }

  // Floats
  // ---------------------
  $set-float: float (
    default: (
      left, left,
      right, right,
      none, none,
    ),
  ) !default;
  @include set($Float, $set-float, $_media);

  // Clearfix
  // ---------------------
  $set-clearfix: true !default;
  @if $set-clearfix {
    .clearfix { @include clearfix(); }
  }

  // Overflow
  // ---------------------
  $set-overflow-set: (
    default: (
      auto, auto,
      hidden, hidden,
    ),
  ) !default;
  @include set($Overflow, overflow $set-overflow-set, $_media);
  @include set($Overflow-x, overflow-x $set-overflow-set, $_media);
  @include set($Overflow-y, overflow-y $set-overflow-set, $_media);

  // Cursor
  // ---------------------
  $set-cursor: cursor (
    default: (
      default, $_cursor-default,
      pointer, $_cursor-pointer,
      help, $_cursor-help,
      not-allowed, $_cursor-not-allowed,
      crosshair, $_cursor-crosshair,
      move, $_cursor-move,
      progress, $_cursor-progress,
      wait, $_cursor-wait,
      text, $_cursor-text,
      //n-resize, $_cursor-n-resize,
      //e-resize, $_cursor-e-resize,
      //w-resize, $_cursor-w-resize,
      //s-resize, $_cursor-s-resize,
      //sw-resize, $_cursor-sw-resize,
      //ne-resize, $_cursor-sw-resize,
      //nw-resize, $_cursor-se-resize,
      //se-resize, $_cursor-se-resize,
    ),
  ) !default;
  @include set($Cursor, $set-cursor, $_media);

}