@import '../_globals.scss';
@import '../_naming.scss';
@import '../_functions.scss';
@import '../_mixins.scss';
@import '../_vr.scss';

// Default Variables
// --------------------------------------------------
  $forms: false !default;
  $forms-initiating: true !default;
  $forms-theming: false !default;

// Mixins & Functions
// --------------------------------------------------


// Output Styles
// --------------------------------------------------
@if $forms or $forms==static {

  @if $forms-initiating {
    #{$form} {
      margin:0;
    }
    #{$fieldset} {
      padding: 0;
      margin: 0;
      border: 0;
    }
    #{$legend} {
      display: block;
      width: 100%;
      padding: 0;
      border: 0;
    }
    #{$label} {
      display: block;
      width: 100%;
      border: 0;
      padding: 0;
      vertical-align: middle;
    }
    #{$textarea} {
      overflow: auto;
      resize: vertical;
    }
    #{$optgroup} {
      color: inherit;
      font-weight: bold;
      font: inherit;
      margin: 0;
    }
    #{$option} {}
    #{$datalist} {}
    #{$keygen} {
      margin: 0;
      @include min-height(1);
      font-family: inherit;
    }
    #{$output} {
      text-decoration: underline;
    }
    #{$select} {
      text-transform: none;
      background: none;
      @include min-height(1);
    }

    #{$_input} {
      box-sizing: border-box;
      display: block;
      margin: 0;
      padding: 0;
      height: auto;
      width: 100%;
      color: inherit;
      font-family: inherit;
      font-size: inherit;
      line-height: inherit;
      vertical-align: middle;
      border:1px solid black;
      outline: 0;
    }
    #{$_input-readonly} {
      cursor: $cursor-default;
    }
    #{$_input-disabled} {
      cursor: $cursor-default;
    }

    //@todo range width 100%?
    #{$_clicker} {
      border: 0;
      outline: 0;
      margin: 0;
      vertical-align: inherit;
      line-height: inherit;
    }

    #{$button} {
      color: inherit;
      overflow: visible;
      text-transform: none;
    }
    #{$_button} {
      cursor: $cursor-pointer;
      display: block;
      margin: 0;
      padding: 0;
      width: 100%;
      font-family: inherit;
      font-size: inherit;
      line-height: inherit;
      text-align: center;
      vertical-align: middle;
      background: none;
      border:1px solid black;
      outline: none;
    }
    #{$_button-disabled} {
      //@todo click behavior
      cursor: $cursor-default;
    }
  }

} $forms: false;