@import '../_globals.scss';
@import '../_naming.scss';
@import '../_functions.scss';
@import '../_mixins.scss';

// Default Variables
// --------------------------------------------------
$media: false !default;
$media-initiating: true !default;


// Output Styles
// --------------------------------------------------
@if $media or $media==static {

  @if $media-initiating {
    #{$audio} {
//      width: 100%;
      display: block;
      @include height(1);

      &:not([controls]) {
        display: none;
        height: 0;
      }
    }
    #{$track} {}
    #{$video} {
      display: block;
      vertical-align: baseline;
    }
  }

} $media: false;
