@import '../_globals.scss';
@import '../_naming.scss';
@import '../_functions.scss';
@import '../_mixins.scss';

// Default Variables
// --------------------------------------------------
$tables: false !default;
$tables-initiating: true !default;


// Output Styles
// --------------------------------------------------
@if $tables or $tables==static {

  @if $tables-initiating {
    #{$table} {
      line-height: inherit;
      font-size: inherit;
      font-variant: normal;
      font-style: normal;
      color: inherit;
      text-align: inherit;
      border-collapse: collapse;
      border-spacing: 0;
    }
    #{$td} {
      padding: 0;
    }
    #{$th} {
      padding: 0;
    }
  }

} $tables: false;
