// Global Variables
// --------------------------------------------------

  // Modes
  // -------------------------
  $vr: true !default; //@todo
  $modernizr: true !default; //@todo

  // Direction Property
  // -------------------------
  $left: left !default;
  $right: right !default;

  // Z-index Levels
  // -------------------------
  $z-index-default:  5 !default;

  $z-index-xxlg:     50 !default;
  $z-index-xlg:      40 !default;
  $z-index-lg:       30 !default;
  $z-index-md:       20 !default;
  $z-index-sm:       10 !default;
  $z-index-xsm:      -5 !default;
  $z-index-xxsm:     -10 !default;

  // Typography, Vertical Rhythm
  // -------------------------
  $line-height:         1.7 !default;
  $line-threshold:      84%;
  $font-size:           100% !default;

  $font-size-default:   $font-size !default;
  $font-size-xxlg:      $font-size * 6 !default;
  $font-size-xlg:       $font-size * 3.1 !default;
  $font-size-lg:        $font-size * 2.5 !default;
  $font-size-md:        $font-size * 1.9 !default;
  $font-size-sm:        $font-size * 1.4 !default;
  $font-size-xsm:       $font-size * 0.8 !default;
  $font-size-xxsm:      $font-size * 0.6 !default;

  $font-family-sans:    'Open Sans', Helvetica, Arial, sans-serif !default;
  $font-family-serif:   Georgia, "Times New Roman", Times, serif !default;
  $font-family-mono:    Monaco, Menlo, Consolas, "Courier New", monospace !default;

  $font-family-main:    $font-family-sans !default;
  $font-family-alt:     $font-family-sans !default;


  // Responsive Partitioning
  // -------------------------
  $screen-breakpoint: 1366px !default;
  
  //null to exclude
  $screen-xsm:  480px !default;
  $screen-sm:   740px !default;
  $screen-md:   1024px !default;
  $screen-lg:   1366px !default;
  $screen-xlg:  1600px !default;
  $screen-list:
    $screen-xsm, $screen-sm, $screen-md, $screen-lg, $screen-xlg !default;

  //prefixes
  $screen-name-xsm:   mobile !default;
  $screen-name-sm:    tablet !default;
  $screen-name-md:    laptop !default;
  $screen-name-lg:    desktop !default;
  $screen-name-xlg:   tv !default;
  $screen-name-list:
    $screen-name-xsm, $screen-name-sm, $screen-name-md, $screen-name-lg, $screen-name-xlg !default;

  // Sizing
  // -------------------------
  $size-default:  1 !default;
  $size-xxsm:     0.25 !default;
  $size-xsm:      0.5 !default;
  $size-sm:       2 !default;
  $size-md:       3 !default;
  $size-lg:       4 !default;
  $size-xlg:      5 !default;
  $size-xxlg:     7 !default;

  $name-default: def !default;
  $name-xxsm:    xxsm !default;
  $name-xsm:     xsm !default;
  $name-sm:      sm !default;
  $name-md:      md !default;
  $name-lg:      lg !default;
  $name-xlg:     xlg !default;
  $name-xxlg:    xxlg !default;

  // Color Scheme
  // -------------------------
  // Basic Colors
  $color-black:         #111 !default;
  $color-dark:          #222 !default;
  $color-gray:          #999 !default;
  $color-light:         #aaa !default;
  $color-white:         #fff !default;

  // Rainbow Colors
  $color-aqua:          #22E6E4 !default;
  $color-blue:          #2185CA !default;
  $color-green:         #4FC14F !default;
  $color-red:           #E6453F !default;
  $color-yellow:        #F2CB30 !default;
  $color-orange:        #F77D14 !default;
  $color-pink:          #C6538C !default;
  $color-purple:        #8A49BF !default;

  // Cursor Selection
  // -------------------------
  $selection-color:     $color-light;
  $selection-opacity:   0.7;

  // Cursors (?)
  // -------------------------
  //basic
  $cursor-not-allowed:   not-allowed !default;
  $cursor-crosshair:     crosshair !default;
  $cursor-default:       default !default;
  $cursor-help:          help !default;
  $cursor-move:          move !default;
  $cursor-pointer:       pointer !default;
  $cursor-progress:      progress !default;
  $cursor-text:          text !default;
  $cursor-wait:          wait !default;

  //news
  $cursor-n-resize:    n-resize !default;
  $cursor-s-resize:    s-resize !default;
  $cursor-e-resize:    e-resize !default;
  $cursor-w-resize:    w-resize !default;
  $cursor-sw-resize:   sw-resize !default;
  $cursor-se-resize:   se-resize !default;


// Screens Media Rules
// --------------------------
@mixin united-screen($type:united) {
  @media #{get-media($type, $screen-breakpoint, $screen-list, $screen-breakpoint)} {@content;}
}
@mixin xsm-screen($type) {
  @media #{get-media($type, $screen-xsm, $screen-list, $screen-breakpoint)} {@content;}
}
@mixin sm-screen($type) {
  @media #{get-media($type, $screen-sm, $screen-list, $screen-breakpoint)} {@content;}
}
@mixin md-screen($type) {
  @media #{get-media($type, $screen-md, $screen-list, $screen-breakpoint)} {@content;}
}
@mixin lg-screen($type) {
  @media #{get-media($type, $screen-lg, $screen-list, $screen-breakpoint)} {@content;}
}
@mixin xlg-screen($type) {
  @media #{get-media($type, $screen-xlg, $screen-list, $screen-breakpoint)} {@content;}
}