// Modes
// -------------------------
$_vr: true !default;

// Text Direction (rtl/ltr)
// -------------------------
$_left: left !default;
$_right: right !default;

// Typography, Vertical Rhythm
// ---------------------------
$_font-size:      1rem !default;
$_line-height:    1.7 !default;

$_font-size-default:   $_font-size !default;
$_font-size-xxlg:      $_font-size * 6 !default;
$_font-size-xlg:       $_font-size * 3.1 !default;
$_font-size-lg:        $_font-size * 2.5 !default;
$_font-size-md:        $_font-size * 1.9 !default;
$_font-size-sm:        $_font-size * 1.4 !default;
$_font-size-xsm:       $_font-size * 0.8 !default;
$_font-size-xxsm:      $_font-size * 0.6 !default;

$_font-family-sans:    Helvetica, Arial, sans-serif !default;
$_font-family-serif:   Georgia, "Times New Roman", Times, serif !default;
$_font-family-mono:    Monaco, Menlo, Consolas, "Courier New", monospace !default;
//$_font-family-icons:  map !default; //@todo include several fonts

$_font-family:        $_font-family-sans !default;

// Sizing
// -------------------------
$_size-default:  1 !default;
$_size-xxlg:     7 !default;
$_size-xlg:      5 !default;
$_size-lg:       4 !default;
$_size-md:       3 !default;
$_size-sm:       2 !default;
$_size-xsm:      0.5 !default;
$_size-xxsm:     0.25 !default;

// Responsive Partitioning
// -------------------------
$_media: (
    default:    null,
    mobile:     (media 'screen and (max-width:' 740px ')'),
    tablet:     (media 'screen and (max-width:' 1024px ')'),
    laptop:     (media 'screen and (min-width:' 1366px ')'),
    landscape:  (media '(orientation: landscape)'),
    portrait:   (media '(orientation: portrait)'),
    touch:      ('.touch'),
  ) !default;
$_media-unit: rem;

// Z-index Levels
// -------------------------
$_z-default:  5 !default;
$_z-xlg:      40 !default;
$_z-lg:       30 !default;
$_z-md:       20 !default;
$_z-sm:       10 !default;
$_z-xsm:      -5 !default;

// Cursor Selection
// -------------------------
$_selection-color: null;

// Cursors (?)
// -------------------------
//basic
$_cursor-default:       default !default;
$_cursor-pointer:       pointer !default;
$_cursor-not-allowed:   not-allowed !default;
$_cursor-crosshair:     crosshair !default;
$_cursor-help:          help !default;
$_cursor-move:          move !default;
$_cursor-progress:      progress !default;
$_cursor-text:          text !default;
$_cursor-wait:          wait !default;
//news
$_cursor-n-resize:    n-resize !default;
$_cursor-s-resize:    s-resize !default;
$_cursor-e-resize:    e-resize !default;
$_cursor-w-resize:    w-resize !default;
$_cursor-sw-resize:   sw-resize !default;
$_cursor-se-resize:   se-resize !default;