// Clearfix
// -------------
// clearfix - is technique of overflow correction
// to block element containing float elements
@mixin clearfix()
{
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

// Font-Face
// -------------
@mixin font-face($font-path, $font-family, $font-weight: null, $font-style:null, $version:null, $svg-font-name:null)
{
  $query: if($version,'?v=#{$version}', null);
  @if $svg-font-name {
    @font-face {
      font-family: $font-family;
      font-weight: $font-weight;
      font-style: $font-style;
      src: url('#{$font-path}.eot#{$query}');
      src: url('#{$font-path}.eot?#iefix#{prepend-dash($version)}') format('embedded-opentype'),
      url('#{$font-path}.woff#{$query}') format('woff'),
      url('#{$font-path}.ttf#{$query}') format('truetype'),
      url('#{$font-path}.svg#{$query}##{$svg-font-name}') format('svg');
    }
  }
  @else { //@todo kill off
    @font-face {
      font-family: $font-family;
      src: url('#{$font-path}.eot#{$query}');
      src: url('#{$font-path}.eot?#iefix#{prepend-dash($query)}') format('embedded-opentype'),
      url('#{$font-path}.woff#{$query}') format('woff'),
      url('#{$font-path}.ttf#{$query}') format('truetype');
    }
  }
}

// Media Builder
// -------------
@mixin media($media-map, $media-name:null, $unit:$_media-unit, $no-query:null) {
  $string: ();
  $query: null;
  $query-type: null;

  //if query map is presented
  @if $media-name {
    $query: map-get($media-map, $media-name);
  }
  //if only media query is presented
  @else {
    $query: $media-map;
  }

  @if $query {
    @for $i from 1 through length($query) {
      $value: nth($query, $i);

      @if $i == 1 {
        $query-type: if($value==media, media, string);
      }
      $value: if(type-of($value)==number, tounit($value, $unit), unquote($value));
      $string: append($string, if($value!=media, $value, null));
    }

    @if $query-type==media {
      @media #{$string} {
        @content;
      }
    }
    @else {
      #{$string} & {
        @content;
      }
    }
  }
  @else {
    @content;
  }

}

// Property generator
// -------------------------------------
// $properties - any CSS property(es)
// $class-property-shortcut - CSS class prefix
// @return
@mixin property($property, $property-shortcut, $list, $device:null)
{
  $device-prefix: null;
  $device-postfix: null;
  $class-prefix: null;
  $class-postfix: null;
  $selector-before: (null);
  $selector-after: (null);

  $i: 1 !global;
  @while $i <= length($list) {

    $initial-value: nth($list, $i);
    // step _
    // --------
    // prepend/append/clean device name
    @if $initial-value == prefix {
      $device-prefix:_($device);
      $device-postfix:null;
      $i: $i + 1 !global;
    }
    @if $initial-value == postfix {
      $device-prefix:null;
      $device-postfix:__($device);
      $i: $i + 1 !global;
    }
    @else if $initial-value == unfix {
      $device-prefix:null;
      $device-postfix:null;
      $i: $i + 1 !global;
    }

    // step 0
    // ------
    // get selectors if presented
    $first-value: nth($list, $i);
    @if length($first-value) == 3 {
      $selector-before: nth($first-value, 1);
      $selector-after: nth($first-value, 3);
      @debug $selector-before;
      $i: $i + 1 !global;
    }


    // step 1
    // ------
    // get class name and/or additional selector
    $next-value: nth($list, $i);
    $i: $i + 1 !global;

    //if pre/postfix class names are presented
    @if length($next-value) == 2 {
      $class-prefix: #{nth($next-value, 1)}_;
      $class-postfix: nth($next-value, 2);
    }
    //if there is only class postfix
    @else {
      $class-prefix: null; //reset prefix
      $class-postfix: $next-value;
    }

    // step 2
    // ------
    // get property value
    $next-value: nth($list, $i);
    $i: $i + 1 !global;

    // append null for correct handling values within the loop
    $property-value: $next-value, null;

    // step 3
    // ------
    // construct class
    $selector:
      #{$selector-before}#{'.'}#{$device-prefix}#{$class-prefix}#{$property-shortcut}#{$class-postfix}#{$device-postfix}#{$selector-after};

    #{$selector} {
      $value: $property-value;
      @each $property-name in $property {
        #{$property-name}: $value;
      }
    }

  }
}

// Property Set generator
// -------------------------------------
// $media -
// $class-property-shortcut - CSS class prefix
// @return
@mixin property-media($media, $property, $property-shortcut, $list) {
  //@each $list in $args {
  @if length($list) > 0 {
    $media-devices: map-keys($media) !global;
    $devices: nths($media-devices, indexes($media-devices, map-keys($list)));

    @if length($devices) > 0 {
      @for $i from 1 through length($devices) {
        $device: nth($devices, $i);
        $property-list: map-get($list, $device);

        @include media($media, $device) {
          @include property($property, $property-shortcut, $property-list, $device:$device);
        }
      }
    }
  }
}
