// KEYWORDS
// -------------------------------------

$Default:     'def' !default;
$Xxlg:        'xxlg' !default;
$Xlg:         'xlg' !default;
$Lg:          'lg' !default;
$Md:          'md' !default;
$Sm:          'sm' !default;
$Xsm:         'xsm' !default;
$Xxsm:        'xxsm' !default;

$disabled:    'disabled' !default;
$readonly:    'readonly' !default;


// PROPERTY NAMING
// ---------------------------------------

// Property's Directions
// -------------------
$T:                   't' !default; //top
$R:                   'r' !default; //right
$B:                   'b' !default; //bottom
$L:                   'l' !default; //left
$TL:                  'tl' !default; //top-left
$TR:                  'tr' !default; //top-right
$BR:                  'br' !default; //bottom-right
$BL:                  'bl' !default; //bottom-left

// Properties shortcuts
// -------------------

// Positioning
$Top:                 'top' !default;
$Right:               'right' !default;
$Bottom:              'bottom' !default;
$Left:                'left' !default;
$Position:            null !default;
$Z-index:             'z' !default;
$Vertical-align:      'align' !default;

// Content
$Content:             'content' !default;

// Lists
$List:                'list' !default;
$List-style:          $List !default;
$List-style-type:     $List !default;

// Indention
$Margin:              'marg' !default;
$Margin-top:          #{$Margin}-#{$T} !default;
$Margin-right:        #{$Margin}-#{$R} !default;
$Margin-bottom:       #{$Margin}-#{$B} !default;
$Margin-left:         #{$Margin}-#{$L} !default;

$Padding:             'padd' !default;
$Padding-top:         #{$Padding}-#{$T} !default;
$Padding-right:       #{$Padding}-#{$R} !default;
$Padding-bottom:      #{$Padding}-#{$B} !default;
$Padding-left:        #{$Padding}-#{$L} !default;

// Dimension
$Width:               'width' !default;
$Max-width:           'max-#{$Width}' !default;
$Min-width:           'min-#{$Width}' !default;
$Height:              'height' !default;
$Max-height:          'max-#{$Height}' !default;
$Min-height:          'min-#{$Height}' !default;

// Background
$Background:          'back' !default;
$Background-color:    '#{$Background}-clr' !default;
$Background-image:    '#{$Background}-img' !default;
$Background-size:     #{$Background} !default;
$Background-repeat:   #{$Background} !default;

// Border
$Border:                      'border' !default;
$Border-top:                  '#{$Border}-#{$T}' !default;
$Border-right:                '#{$Border}-#{$R}' !default;
$Border-bottom:               '#{$Border}-#{$B}' !default;
$Border-left:                 '#{$Border}-#{$L}' !default;
$Border-radius:               'radius' !default;
$Border-top-right-radius:     '#{$Border-radius}-#{$TR}' !default;
$Border-top-left-radius:      '#{$Border-radius}-#{$TL}' !default;
$Border-bottom-right-radius:  '#{$Border-radius}-#{$BR}' !default;
$Border-bottom-left-radius:   '#{$Border-radius}-#{$BL}' !default;
$Border-top-radius:           '#{$Border-radius}-#{$T}' !default;
$Border-right-radius:         '#{$Border-radius}-#{$R}' !default;
$Border-bottom-radius:        '#{$Border-radius}-#{$B}' !default;
$Border-left-radius:          '#{$Border-radius}-#{$L}' !default;

// Text
$Line-height:         'line' !default;
$Color:               'color' !default;
$Font:                'font' !default;
$Font-family:         $Font !default;
$Font-size:           $Font !default;
$Font-weight:         $Font !default;
$Font-style:          $Font !default;
$Word:                'word' !default;
$Word-wrap:           $Word !default;
$Word-break:          $Word !default;
$Word-spacing:        $Word !default;
$White-space:         'space' !default;
$Text:                'text' !default;
$Text-align:          $Text !default;
$Text-decoration:     $Text !default;
$Text-transform:      $Text !default;
$Text-rendering:      $Text !default;
$Text-shadow:         '#{$Text}-sh' !default;
$Text-indent:         'indent' !default;

// Transition
$Transition:          'animate' !default;

// Filter
$Filter:              'filter' !default;

// Shadow
$Box-shadow:          'shadow' !default;

// Displaying
$Display:             null !default;

// Visibility
$Visibility:          null !default;

// Opacity
$Opacity:             'opacity' !default;

// Miliscenios
$Overflow:            'over' !default;
$Overflow-x:          '#{$Overflow}-x' !default;
$Overflow-y:          '#{$Overflow}-y' !default;
$Float:               'float' !default;
$Cursor:              'cursor' !default;



// TAG NAMING (under discussion)
// -------------------------------------

// Basic
// -------------------
$html:        'html' !default;
$body:        'body' !default;

// Type
// -------------------
$h1:          'h1' !default;
$h2:          'h2' !default;
$h3:          'h3' !default;
$h4:          'h4' !default;
$h5:          'h5' !default;
$h6:          'h6' !default;
$p:           'p' !default;
$hr:          'hr' !default;

// Links
// -------------------
$a:           'a' !default;
$nav:         'nav' !default;

// Images
// -------------------
$img:         'img' !default;
$map:         'map' !default;
$area:        'area' !default;
$canvas:      'canvas' !default;
$figcaption:  'figcaption' !default;
$figure:      'figure' !default;

// Media
// -------------------
$audio:       'audio' !default;
$track:       'track' !default;
$video:       'video' !default;

// Lists
// -------------------
$ul:          'ul' !default;
$ol:          'ol' !default;
$li:          'li' !default;
$dl:          'dl' !default;
$dt:          'dt' !default;
$dd:          'dd' !default;
$menu:        'menu' !default;

// Tables
// -------------------
$table:       'table' !default;
$caption:     'caption' !default;
$th:          'th' !default;
$tr:          'tr' !default;
$td:          'td' !default;
$thead:       'thead' !default;
$tbody:       'tbody' !default;
$tfoot:       'tfoot' !default;
$col:         'col' !default;
$colgroup:    'colgroup' !default;

// Sections
// -------------------
$main:        'main' !default;
$div:         'div' !default;
$span:        'span' !default;
$header:      'header' !default;
$footer:      'footer' !default;
$section:     'section' !default;
$article:     'article' !default;
$aside:       'aside' !default;
$details:     'details' !default;
$dialog:      'dialog' !default;
$summary:     'summary' !default;

// Formatting
// -------------------
$abbr:        'abbr' !default;
$address:     'address' !default;
$b:           'b' !default;
$blockquote:  'blockquote' !default;
$cite:        'cite' !default;
$code:        'code' !default;
$del:         'del' !default;
$dfn:         'dfn' !default;
$em:          'em' !default;
$i:           'i' !default;
$ins:         'ins' !default;
$kbd:         'kbd' !default;
$mark:        'mark' !default;
$meter:       'meter' !default;
$pre:         'pre' !default;
$progress:    'progress' !default;
$q:           'q' !default;
$s:           's' !default;
$samp:        'samp' !default;
$small:       'small' !default;
$strong:      'strong' !default;
$sub:         'sub' !default;
$sup:         'sup' !default;
$time:        'time' !default;
$u:           'u' !default;
$var:         'var' !default;

//labeling text with explicit textual annotations
//@think: ruby, rc, etc

// Forms
// -------------------
$form:              'form' !default;
$fieldset:          'fieldset' !default;
$legend:            'legend' !default;
$label:             'label' !default;
$textarea:          'textarea' !default;
$select:            'select' !default;
$optgroup:          'optgroup' !default;
$option:            'option' !default;
$datalist:          'datalist' !default;
$keygen:            'keygen' !default;
$output:            'output' !default;
$select:            'select' !default;
$textarea:          'textarea' !default;
$input:             'input' !default;
$radio:             'radio' !default;
$checkbox:          'checkbox' !default;
$button:            'button' !default;

// Programming
// -------------------
$embed:             'embed' !default;
$object:            'object' !default;


// @todo CUSTOMS SELECTORS
// ---------------------------------------
$input-readonly:    '#{$input}.-#{$readonly}' !default;
$input-disabled:    '#{$input}.-#{$disabled}' !default;
$radio-disabled:    '#{$radio}.-#{$disabled}' !default;
$checkbox-disabled: '#{$checkbox}.-#{$disabled}' !default;
$button-disabled:   '#{$button}.-#{$disabled}' !default;