/*!
 * Name: App Name
 * Version: 1.0
 * Authors: Your Name
 * Author URL: example.com
 * Powered by:
 * Element | MIT License | github.com/kalopsia/element
 * Project Name | License Type | url-to-project.com
 */

// Global Variables
// -------------------------
$_font-size:    16px;
$_line-height:  1.7;
$_media-unit: rem;
$_media: (
  default:    null,
  mobile:     (media 'screen and (max-width:' 740px ')'),
  tablet:     (media 'screen and (max-width:' 1024px ')'),
  laptop:     (media 'screen and (min-width:' 1366px ')'),
  touch:      ('.touch'),
);


// Normalize
// -------------------------
@import 'path/to/element/framework/modules/normalize.scss';


// Grid System
// -------------------------
$grid-params: calc-grid(12, gap, 2%);
@import 'path/to/element/framework/modules/grid.scss';


// Defaults
// -------------------------
@import 'path/to/element/framework/modules/defaults.scss';


// Classes
// -------------------------
$color: color (
  default: (
    black, #000,
    white, #fff,
  ),
);
@include set($Color, $color, $_media);

// Styles
// -------------------------
// create your own styles here

