/*!
 * Name:
 * Version: 
 * Author:
 * Author URL: 
 * Powered by:
 * ELEMENT | MIT License | github.com/kalopsia/element
 */

// Global Variables
// --------------------------------------------
$_font-size:    16px;
$_line-height:  1.7;
$_media-unit: rem;
$_media:
  (
    default:    null,
    mobile:     (media 'screen and (max-width:' 740px ')'),
    tablet:     (media 'screen and (max-width:' 1024px ')'),
    laptop:     (media 'screen and (min-width:' 1366px ')'),
    landscape:  (media '(orientation: landscape)'),
    portrait:   (media '(orientation: portrait)'),
    touch:      ('.touch'),
  );


// Normalize Module
// ------------------
$normalize: true;
@import 'path/to/element/framework/modules/normalize.scss';


// Grid System Module
// ------------------
$grid: true;
$grid-calc-data: (
    columns: 12,
    calc-method: gap,
    calc-data: 1.5%,
  );
@import 'path/to/element/framework/modules/grid.scss';


// Defaults Module
// ------------------
$defaults: true;
@import 'path/to/element/framework/modules/defaults.scss';


// Classes
// ------------------
$color: color (
  default: (
    black, #000,
    white, #fff,
  ),
);
@include classes($Color, $color, $_media);

// Styles
// --------------------------------------------
// create your own styles here

