@import '../_globals.scss';
@import '../_naming.scss';
@import '../_functions.scss';
@import '../_mixins.scss';

// Default Variables
// --------------------------------------------------
  $background: false !default;

  $background-exclude: false !default;
  $background-include: diff-list((
    background-color, background-size, background
    ), $background-exclude) !default;

  $background-set:        () !default;
  $background-transition: null !default;

  $background-color-set:        () !default;
  $background-color-transition: null !default;

  $background-size-set:        () !default;

// Mixins
// --------------------------------------------------


// Output Styles
// --------------------------------------------------
@if $background or $background==static {

  @if in-list(background, $background-include) {
    @include property(background, $Background, $background-set);

    [class*="#{$Background}"] {transition: $background-transition;}
  }


  @if in-list(background-color, $background-include) {
    @include property(background-color, $Background-color, $background-color-set);

    [class*="#{$Background-color}"] {transition: $background-color-transition;}
  }

  @if in-list(background-size, $background-include) {
    @include property(background-size, $Background-size, $background-size-set);
  }


} $background: false;
