@import '../_globals.scss';
@import '../_naming.scss';
@import '../_functions.scss';
@import '../_mixins.scss';

// Default Variables
// --------------------------------------------------
  $border: false !default;

  $border-exclude: border-top-left-radius, border-top-right-radius, border-bottom-right-radius, border-bottom-left-radius !default;
  $border-include: diff-list((
    border,
    border-top, border-right, border-bottom, border-left,
    border-radius,
    border-top-left-radius, border-top-right-radius, border-bottom-right-radius, border-bottom-left-radius,
    //pseudo
    border-top-radius, border-right-radius, border-bottom-radius, border-left-radius
    ), $border-exclude) !default;

  $border-set:          () !default;
  $border-top-set:      $border-set !default;
  $border-right-set:    $border-set !default;
  $border-bottom-set:   $border-set !default;
  $border-left-set:     $border-set !default;

  $border-radius-set:               () !default;
  $border-top-left-radius-set:      $border-radius-set !default;
  $border-top-right-radius-set:     $border-radius-set !default;
  $border-bottom-right-radius-set:  $border-radius-set !default;
  $border-bottom-left-radius-set:   $border-radius-set !default;

  $border-top-radius-set:           () !default;
  $border-right-radius-set:         () !default;
  $border-bottom-radius-set:        () !default;
  $border-left-radius-set:          () !default;



// Mixins
// --------------------------------------------------


// Output Styles
// --------------------------------------------------
@if $border or $border==static {

  // Border
  // ---------------------------
  @if in-list(border, $border-include) {
    .#{$Border}0 {border:0;}
    @include property(border, $Border, $border-set);
  }

  @if in-list(border-top, $border-include) {
    .#{$Border}#{$T}0 {border-top:0;}
    @include property(border-top, #{$Border}#{$T}, $border-top-set);
  }
  @if in-list(border-right, $border-include) {
    .#{$Border}#{$R}0 {border-right:0;}
    @include property(border-right, #{$Border}#{$R}, $border-right-set);
  }
  @if in-list(border-bottom, $border-include) {
    .#{$Border}#{$B}0 {border-bottom:0;}
    @include property(border-bottom, #{$Border}#{$B}, $border-bottom-set);
  }
  @if in-list(border-left, $border-include) {
    .#{$Border}#{$L}0 {border-left:0;}
    @include property(border-left, #{$Border}#{$L}, $border-left-set);
  }

  // Border-radius
  // ---------------------------
  @if in-list(border-radius, $border-include) {
    .#{$Border-radius}0 {border-radius:0;}
    @include property(border-radius, $Border-radius, $border-radius-set);
  }

  //separately
  @if in-list(border-top-left-radius, $border-include) {
    .#{$Border-radius}#{$TL}0 {border-top-left-radius:0;}
    @include property(border-top-left-radius, #{$Border-radius}#{$TL}, $border-radius-set);
  }
  @if in-list(border-top-right-radius, $border-include) {
    .#{$Border-radius}#{$TR}0 {border-top-right-radius:0;}
    @include property(border-top-right-radius, #{$Border-radius}#{$TR}, $border-top-right-radius-set);
  }
  @if in-list(border-bottom-right-radius, $border-include) {
    .#{$Border-radius}#{$BR}0 {border-bottom-right-radius:0;}
    @include property(border-bottom-right-radius, #{$Border-radius}#{$BR}, $border-bottom-right-radius-set);
  }
   @if in-list(border-bottom-left-radius, $border-include) {
    .#{$Border-radius}#{$BL}0 {border-bottom-left-radius:0;}
    @include property(border-bottom-left-radius, #{$Border-radius}#{$BL}, $border-bottom-left-radius-set);
  }

  //in pairs
  @if in-list(border-top-radius, $border-include) {
    @include property((border-top-left-radius, border-top-right-radius), #{$Border-radius}#{$T}, (0,0));
    @include property((border-top-left-radius, border-top-right-radius), #{$Border-radius}#{$T}, $border-radius-set);
  }
  @if in-list(border-right-radius, $border-include) {
    @include property((border-top-right-radius, border-bottom-right-radius), #{$Border-radius}#{$R}, (0,0));
    @include property((border-top-right-radius, border-bottom-right-radius), #{$Border-radius}#{$R}, $border-top-right-radius-set);
  }
  @if in-list(border-right-radius, $border-include) {
    @include property((border-bottom-right-radius, border-bottom-left-radius), #{$Border-radius}#{$B}, (0,0));
    @include property((border-bottom-right-radius, border-bottom-left-radius), #{$Border-radius}#{$B}, $border-bottom-right-radius-set);
  }
   @if in-list(border-left-radius, $border-include) {
    @include property((border-bottom-left-radius, border-top-left-radius), #{$Border-radius}#{$L}, (0,0));
    @include property((border-bottom-left-radius, border-top-left-radius), #{$Border-radius}#{$L}, $border-bottom-left-radius-set);
  }

} $border: false;