@import '../_globals.scss';
@import '../_naming.scss';
@import '../_functions.scss';
@import '../_mixins.scss';

// Default Variabless
// --------------------------------------------------
  $filter: false !default;

  $filter-set-default: () !default;
  $filter-set: () !default;


// Mixins & Functions
// --------------------------------------------------


// Output Styles
// --------------------------------------------------
@if $filter or $filter == static {

  @include property(filter, $Filter, $filter-set-default);
  @include property(filter, $Filter, $filter-set);

} $filter: false;