@import '../globals.scss';
@import '../naming.scss';
@import '../functions.scss';
@import '../mixins.scss';
@import '../vr.scss';

// Default Variables
// --------------------------------------------------
  $properties: false !default;


// Output Styles
// --------------------------------------------------
@if $properties {

  // Content
  // ---------------------
  $content: () !default;
  @include property-media($_media, content, $Content, $content);

  // Border
  // --------------------
  $border: (
    default: (
      0, 0
    )
  ) !default;
  $border-top: $border !default;
  $border-right: $border !default;
  $border-bottom: $border !default;
  $border-left: $border !default;
  @include property-media($_media, border, $Border, $border);
  @include property-media($_media, border-top, #{$Border}#{$T}, $border);
  @include property-media($_media, border-right, #{$Border}#{$R}, $border-right);
  @include property-media($_media, border-bottom, #{$Border}#{$B}, $border-bottom);
  @include property-media($_media, border-left, #{$Border}#{$L}, $border-left);

  // Border-radius
  // ------------------------
  $border-radius: (
    default: (
      0, 0
    )
  ) !default;
  $border-top-left-radius: () !default;
  $border-top-right-radius: () !default;
  $border-bottom-right-radius: () !default;
  $border-bottom-left-radius: () !default;
  @include property-media($_media, border-radius, $Border-radius, $border-radius);
  @include property-media($_media, border-top-left-radius, #{$Border-radius}#{$TL}, $border-top-left-radius);
  @include property-media($_media, border-top-right-radius, #{$Border-radius}#{$TR}, $border-top-right-radius);
  @include property-media($_media, border-bottom-right-radius, #{$Border-radius}#{$BR}, $border-bottom-right-radius);
  @include property-media($_media, border-bottom-left-radius, #{$Border-radius}#{$BL}, $border-bottom-left-radius);
  //in pairs
  $border-top-radius: () !default;
  $border-right-radius: () !default;
  $border-bottom-radius: () !default;
  $border-left-radius: () !default;
  @include property-media($_media, (border-top-left-radius,border-top-right-radius), #{$Border-radius}#{$T}, $border-top-radius);
  @include property-media($_media, (border-top-right-radius, border-bottom-right-radius), #{$Border-radius}#{$R}, $border-right-radius);
  @include property-media($_media, (border-bottom-right-radius, border-bottom-left-radius), #{$Border-radius}#{$B}, $border-bottom-radius);
  @include property-media($_media, (border-bottom-left-radius, border-top-left-radius), #{$Border-radius}#{$L}, $border-left-radius);

  // Position
  // ------------------
  $position: (
    default: (
      fixed, fixed,
      relative, relative,
      absolute, absolute,
    ),
    laptop: (
      fixed, fixed,
      relative, relative,
      absolute, absolute,
    ),
    tablet: (
      fixed, fixed,
      relative, relative,
      absolute, absolute,
    ),
    mobile: (
      fixed, fixed,
      relative, relative,
      absolute, absolute,
    ),
  ) !default;
  @include property-media($_media, position, $Position, $position);

  // Vertical-Align
  // ----------------
  $vertical-align: (
    default: (
      top, top,
      middle, middle,
      bottom, bottom,
    ),
  );
  @include property-media($_media, vertical-align, $Vertical-align, $vertical-align);

  // Top, Right, Bottom, Left
  // ------------------------
  $top-right-bottom-left: (
    default: (
      0, 0,
      auto, auto,
      $Default, vr($_size-default),
      $Xxsm, vr($_size-xxsm),
      $Xsm, vr($_size-xsm),
      $Sm, vr($_size-sm),
      $Md, vr($_size-md),
      $Lg, vr($_size-lg),
      $Xlg, vr($_size-xlg),
      $Xxlg, vr($_size-xxlg),
    ),
  ) !default;
  $top: $top-right-bottom-left !default;
  $right: $top-right-bottom-left !default;
  $bottom: $top-right-bottom-left !default;
  $left: $top-right-bottom-left !default;
  @include property-media($_media, top, $Top, $top);
  @include property-media($_media, right, $Right, $right);
  @include property-media($_media, bottom, $Bottom, $bottom);
  @include property-media($_media, left, $Left, $left);

  // Z-index
  // ---------------
  $z-index: (
    default: (
      0, 0,
      $Default, $_z-default,
      $Xsm, $_z-xsm,
      $Sm, $_z-sm,
      $Md, $_z-md,
      $Lg, $_z-lg,
      $Xlg, $_z-xlg,
    )
  ) !default;
  @include property-media($_media, z-index, $Z-index, $z-index);

  // Background
  // ----------------------
  $background: () !default;
  $background-color: () !default;
  $background-size: () !default;
  @include property-media($_media, background, $Background, $background);
  @include property-media($_media, background-color, $Background-color, $background-color);
  @include property-media($_media, background-size, $Background-size, $background-size);

  // Box-shadow
  // ----------------------
  $box-shadow: () !default;
  @include property-media($_media, box-shadow, $Box-shadow, $box-shadow);

  // Filter
  // ----------------------
  $filter: () !default;
  @include property-media($_media, filter, $Filter, $filter);

  // Transition
  // ----------------------
  $transition: () !default;
  @include property-media($_media, transition, $Transition, $transition);

  // Margin
  // -----------------
  $margin: (
    default: (
      0, 0,
      auto, auto,
      $Default, vr($_size-default),
      $Xxsm, vr($_size-xxsm),
      $Xsm, vr($_size-xsm),
      $Sm, vr($_size-sm),
      $Md, vr($_size-md),
      $Lg, vr($_size-lg),
      $Xlg, vr($_size-xlg),
      $Xxlg, vr($_size-xxlg),
    )
  ) !default;
  $margin-top: $margin;
  $margin-right: $margin;
  $margin-bottom: $margin;
  $margin-left: $margin;
  @include property-media($_media, margin, $Margin, $margin);
  @include property-media($_media, margin-top, #{$Margin}#{$T}, $margin-top);
  @include property-media($_media, margin-right, #{$Margin}#{$R}, $margin-right);
  @include property-media($_media, margin-bottom, #{$Margin}#{$B}, $margin-bottom);
  @include property-media($_media, margin-left, #{$Margin}#{$L}, $margin-left);

  // Padding
  // -----------------
  $padding: (
    default: (
      0, 0,
      $Default, vr($_size-default),
      $Xxsm, vr($_size-xxsm),
      $Xsm, vr($_size-xsm),
      $Sm, vr($_size-sm),
      $Md, vr($_size-md),
      $Lg, vr($_size-lg),
      $Xlg, vr($_size-xlg),
      $Xxlg, vr($_size-xxlg),
    )
  ) !default;
  $padding-top: $padding;
  $padding-right: $padding;
  $padding-bottom: $padding;
  $padding-left: $padding;
  @include property-media($_media, padding, $Padding, $padding);
  @include property-media($_media, padding-top, #{$Padding}#{$T}, $padding-top);
  @include property-media($_media, padding-right, #{$Padding}#{$R}, $padding-right);
  @include property-media($_media, padding-bottom, #{$Padding}#{$B}, $padding-bottom);
  @include property-media($_media, padding-left, #{$Padding}#{$L}, $padding-left);

  // Opacity
  // -----------------
  $opacity: (
    default: (
      $Xxsm, 0.1,
      $Xsm, 0.2,
      $Sm, 0.3,
      $Md, 0.5,
      $Lg, 0.6,
      $Xlg, 0.7,
      $Xxlg, 0.9
    )
  ) !default;
  @include property-media($_media, opacity, $Opacity, $opacity);

  // Height, Width
  // ----------------------
  $width-height: (
    default: (
      0, 0,
      100, 100%,
      auto, auto,
      $Default, vr($_size-default),
      $Xxsm, vr($_size-xxsm),
      $Xsm, vr($_size-xsm),
      $Sm, vr($_size-sm),
      $Md, vr($_size-md),
      $Lg, vr($_size-lg),
      $Xlg, vr($_size-xlg),
      $Xxlg, vr($_size-xxlg),
    ),
    laptop: (prefix,
      100, 100%,
      auto, auto,
    ),
    tablet: (prefix,
      100, 100%,
      auto, auto,
    ),
    mobile: (prefix,
      100, 100%,
      auto, auto,
    ),
  ) !default;
  $height: $width-height !default;
  $min-height: () !default;
  $max-height: () !default;
  @include property-media($_media, height, $Height, $height);
  @include property-media($_media, height, $Min-height, $min-height);
  @include property-media($_media, height, $Max-height, $max-height);

  $width: $width-height !default;
  $min-width: () !default;
  $max-width: () !default;
  @include property-media($_media, width, $Width, $width);
  @include property-media($_media, width, $Min-width, $min-width);
  @include property-media($_media, width, $Max-width, $max-width);

  // Display
  // ----------------------
  $display: (
    default: (
      none, none,
      block, block,
      inline, inline,
      inline-block, inline-block,
      table, table,
      //table-row, table-row,
      //table-cell, table-cell,
      //table-caption, table-caption,
      //table-header, table-header-group,
      //table-body, table-row-group,
      //table-footer, table-footer-group,
    ),
    laptop: (prefix,
      none, none,
      block, block,
      inline, inline,
      inline-block, inline-block,
    ),
    tablet: (prefix,
      none, none,
      block, block,
      inline, inline,
      inline-block, inline-block,
    ),
    mobile: (prefix,
      none, none,
      block, block,
      inline, inline,
      inline-block, inline-block,
    ),
    //@todo add portrait, landscape etc
  ) !default;
  @include property-media($_media, display, $Display, $display);

  // Visibility
  // ----------------------
  $visibility: (
    default: (
      visible, visible,
      hidden, hidden,
    ),
    laptop: (prefix,
      visible, visible,
      hidden, hidden,
    ),
    tablet: (prefix,
      visible, visible,
      hidden, hidden,
    ),
    mobile: (prefix,
      visible, visible,
      hidden, hidden,
    ),
    //@todo add portrait, landscape etc
  ) !default;
  @include property-media($_media, visibility, $Visibility, $visibility);

  // List-style
  // ----------------------
  $list-style: (
    default: (
      none, none,
      circle, circle,
      square, square
    )
  ) !default;
  @include property-media($_media, list-style, $List-style, $list-style);

  // Line-Height
  // ---------------------
  $line-height: (
    default: (
      $Default, vr($_size-default),
      $Xxsm, vr($_size-xxsm),
      $Xsm, vr($_size-xsm),
      $Sm, vr($_size-sm),
      $Md, vr($_size-md),
      $Lg, vr($_size-lg),
      $Xlg, vr($_size-xlg),
      $Xxlg, vr($_size-xxlg),
    ),
  ) !default;
  @include property-media($_media, line-height, $Line-height, $line-height);

  // Font-Family
  // ---------------------
  $font-family: () !default;
  @include property-media($_media, font-family, $Font-family, $font-family);

  // Font-Size
  // ---------------------
  $font-size: (
    default: (
      $Default, $_font-size-default,
      $Xxsm, $_font-size-xxsm,
      $Xsm, $_font-size-xsm,
      $Sm, $_font-size-sm,
      $Md, $_font-size-md,
      $Lg, $_font-size-lg,
      $Xlg, $_font-size-xlg,
      $Xxlg, $_font-size-xxlg
    ),
  ) !default;
  @include property-media($_media, font-size, $Font-size, $font-size);

  // Font-Weight
  // ---------------------
  $font-weight: (
    default: (
      normal, normal,
      bold, bold
    ),
  ) !default;
  @include property-media($_media, font-weight, $Font-weight, $font-weight);

  // Font-Style
  // ---------------------
  $font-style: (
    default: (
      italic, italic,
      normal, normal
    ),
  ) !default;
  @include property-media($_media, font-style, $Font-style, $font-style);

  // Color
  // ---------------------
  $color: () !default;
  @include property-media($_media, color, $Color, $color);

  // Text-Decoration
  // ---------------------
  $text-decoration: (
    default: (
      underline, underline,
      through, line-through
    ),
  ) !default;
  @include property-media($_media, text-decoration, $Text-decoration, $text-decoration);

  // Text-Transform
  // ---------------------
  $text-transform: (
    default: (
      upper, uppercase,
      lower, lowercase,
      capital, capitalize
    ),
  ) !default;
  @include property-media($_media, text-transform, $Text-transform, $text-transform);

  // Text-Align
  // ---------------------
  $text-align: (
    default: (
      left, left,
      right, right,
      center, center,
      justify, justify,
    ),
  ) !default;
  @include property-media($_media, text-align, $Text-align, $text-align);

  // Text-Shadow
  // ---------------------
  $text-shadow: () !default;
  @include property-media($_media, text-shadow, $Text-shadow, $text-shadow);

  // Text-Rendering
  // ---------------------
  $text-rendering: () !default;
  @include property-media($_media, text-rendering, $Text-rendering, $text-rendering);

  // Word-Spacing
  // ---------------------
  $word-spacing: () !default;
  @include property-media($_media, word-spacing, $Word-spacing, $word-spacing);

  // Word-Wrap and Word-Break
  // ---------------------
  $word-wrap: () !default;
  @include property-media($_media, word-wrap, $Word-wrap, $word-wrap);

  // Word-Break
  // ---------------------
  $word-break: () !default;
  @include property-media($_media, word-break, $Word-break, $word-break);

  // White-space
  // ---------------------
  $white-space: (
    default: (
      pre, pre,
      pre-wrap, pre-wrap,
      pre-line, pre-line,
      nowrap, nowrap,
    ),
  ) !default;
  @include property-media($_media, white-space, $White-space, $white-space);


  // Floats
  // ---------------------
  $float: (
    default: (
      left, left,
      right, right,
      none, none,
    ),
  ) !default;
  @include property-media($_media, float, $Float, $float);

  // Overflow
  // ---------------------
  $overflow: (
    default: (
      auto, auto,
      hidden, hidden,
    ),
  ) !default;
  @include property-media($_media, overflow, $Overflow, $overflow);

  // Overflow-x
  // ---------------------
  $overflow-x: (
    default: (
      auto, auto,
      hidden, hidden,
    ),
  ) !default;
  @include property-media($_media, overflow-x, $Overflow-x, $overflow-x);

  // Overflow-y
  // ---------------------
  $overflow-y: (
    default: (
      auto, auto,
      hidden, hidden,
    ),
  ) !default;
  @include property-media($_media, overflow-y, $Overflow-y, $overflow-y);


  // Cursor
  // ---------------------
  $cursor: (
    default: (
      default, $_cursor-default,
      pointer, $_cursor-pointer,
      help, $_cursor-help,
      not-allowed, $_cursor-not-allowed,
      //crosshair, $_cursor-crosshair,
      //move, $_cursor-move,
      //progress, $_cursor-progress,
      //wait, $_cursor-wait,
      //text, $_cursor-text,
      //n-resize, $_cursor-n-resize,
      //e-resize, $_cursor-e-resize,
      //w-resize, $_cursor-w-resize,
      //s-resize, $_cursor-s-resize,
      //sw-resize, $_cursor-sw-resize,
      //ne-resize, $_cursor-sw-resize,
      //nw-resize, $_cursor-se-resize,
      //se-resize, $_cursor-se-resize,
    ),
  ) !default;
  @include property-media($_media, cursor, $Cursor, $cursor);

}

$property: false;