@import '../_globals.scss';
@import '../_naming.scss';
@import '../_functions.scss';
@import '../_mixins.scss';

// Default Variabless
// --------------------------------------------------
  $transition: false !default;

  $transition-set-default: () !default;
  $transition-set: () !default;


// Mixins & Functions
// --------------------------------------------------


// Output Styles
// --------------------------------------------------
@if $transition or $transition == static {

  @include property(transition, $Transition, $transition-set-default);
  @include property(transition, $Transition, $transition-set);

} $transition: false;
