@import '../globals.scss';
@import '../naming.scss';
@import '../functions.scss';
@import '../mixins.scss';

// Default Variables
// --------------------------------------------------
  $utilities: false !default;


// Output Styles
// --------------------------------------------------
@if $utilities or $utilities == static {

  .clearfix {
    @include clearfix();
  }

  .text-hidden {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
  }

  .text-clip {
    white-space:nowrap;
    overflow:hidden;
    text-overflow:clip;
  }

  .text-ellipsis {
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
  }

}

$utilities: false;