// Sets
// --------------------------------------------------
// you can overwrite default sets defined in set.scss file
//@import 'path-to/css-element/components/set.scss';

// Your Sets
// --------------------------------------------------
// don't hesitate, just play with code and see what you get (syntax can be found in section Usage)
// use colors from _palette.scss file, like in the example above

// Color
// -----------
// define set
$color: color (
  default: (
    black, m($colors, black),
    white, m($colors, white),
  ),
  media: (tablet mobile) (
    prefix,
    myclr, #abcdef,
  ),
);
// generate set
@include set($Color, $color, $_media);

