/* component _type.scss
   --------------------------------------------------
 */
// Add/delete/modify you typography rules here.

$type-font-size-headings: (
  h1: $_font-size-xlg,
  h2: $_font-size-lg,
  h3: $_font-size-md,
  h4: $_font-size-sm,
  h5: $_font-size-xsm,
  h6: $_font-size-xxsm,
);

html {
  font-family: $_font-family;
  font-size: tounit($_font-size, unit($_font-size));
}

body {
  direction: if($_left==left, ltr, rtl);
  line-height: tounit($_line-height, rem);
  font-weight: normal;
  font-style: normal;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: $_font-family;
  text-rendering: optimizelegibility;
}

@each $header, $font-size in $type-font-size-headings {
  #{$header}, .#{$header} {
    font-size: vr($font-size, $font:true); // check
    line-height: vr(auto, $font:$font-size);
  }
}

small {
  font-size: 80%;
}

p {

}

var,
code,
kbd,
pre,
samp {
  font-family: $_font-family-mono;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
}
sub {
  top: -0.5em;
}
sup {
  bottom: -0.25em;
}