@import '../_globals.scss';
@import '../_naming.scss';
@import '../_functions.scss';
@import '../_mixins.scss';
@import '../_vr.scss';

// Default Variables
// --------------------------------------------------
  $indention: false !default;

  $indention-exclude: false !default;
  $indention-include: diff-list((
    margin, margin-top, margin-right, margin-bottom, margin-left,
    padding, padding-top, padding-right, padding-bottom, padding-left
    ), $indention-exclude) !default;

  $indention-set-default:
    0, 0,
    $name-default, $size-default,
    $name-xxsm, $size-xxsm,
    $name-xsm, $size-xsm,
    $name-sm, $size-sm,
    $name-md, $size-md,
    $name-lg, $size-lg,
    $name-xlg, $size-xlg,
    $name-xxlg, $size-xxlg !default;

  $indention-margin-set: $indention-set-default;
  $indention-margin-top-set: $indention-set-default;
  $indention-margin-right-set: $indention-set-default;
  $indention-margin-bottom-set: $indention-set-default;
  $indention-margin-left-set: $indention-set-default;

  $indention-padding-set: $indention-set-default;
  $indention-padding-top-set: $indention-set-default;
  $indention-padding-right-set: $indention-set-default;
  $indention-padding-bottom-set: $indention-set-default;
  $indention-padding-left-set: $indention-set-default;

// Mixins & Functions
// --------------------------------------------------


// Output Styles
// --------------------------------------------------
@if $indention or $indention == static {

  // Margin
  @if in-list(margin, $indention-include) {
    .#{$Margin}auto    {margin:auto;}
    @include property(margin, $Margin, $indention-margin-set, $vr);
  }
  @if in-list(margin-top, $indention-include) {
    .#{$Margin}#{$T}auto  {margin-top:auto;}
    @include property(margin-top, #{$Margin}#{$T}, $indention-margin-top-set, $vr);
  }
  @if in-list(margin-right, $indention-include) {
    .#{$Margin}#{$R}auto  {margin-right:auto;}
    @include property(margin-right, #{$Margin}#{$R}, $indention-margin-right-set, $vr);
  }
  @if in-list(margin-bottom, $indention-include) {
    .#{$Margin}#{$B}auto  {margin-bottom:auto;}
    @include property(margin-bottom, #{$Margin}#{$B}, $indention-margin-bottom-set, $vr);
  }
  @if in-list(#{$Margin}-left, $indention-include) {
    .#{$Margin}#{$L}auto  {margin-left:auto;}
    @include property(margin-left, #{$Margin}#{$L}, $indention-margin-left-set, $vr);
  }

  // Padding
  @if in-list(padding, $indention-include) {
    @include property(padding, $Padding, $indention-padding-set, $vr);
  }
  @if in-list(padding-top, $indention-include) {
    @include property(padding-top, #{$Padding}#{$T}, $indention-padding-top-set, $vr);
  }
  @if in-list(padding-right, $indention-include) {
    @include property(padding-right, #{$Padding}#{$R}, $indention-padding-right-set, $vr);
  }
  @if in-list(padding-bottom, $indention-include) {
    @include property(padding-bottom, #{$Padding}#{$B}, $indention-padding-bottom-set, $vr);
  }
  @if in-list(padding-left, $indention-include) {
    @include property(padding-left, #{$Padding}#{$L}, $indention-padding-left-set, $vr);
  }

}

$indention: false;