@import '../_globals.scss';
@import '../_naming.scss';
@import '../_functions.scss';
@import '../_mixins.scss';

// Default Variables
// --------------------------------------------------
  $utilities: false !default;

  $utilities-exclude: cursor !default;
  $utilities-include: diff-list((
    floats, overflow, cursor
    ), $utilities-exclude) !default;


// Output Styles
// --------------------------------------------------
@if $utilities or $utilities == static {

  .clearfix {@include clearfix();}

  // Floats
  @if in-list(floats, $utilities-include) {
    .#{$Float}right  {float:right;}
    .#{$Float}left   {float:left;}
    .#{$Float}none   {float:none !important;}
  }

  // Overflow
  @if in-list(overflow, $utilities-include) {
    .#{$Overflow}x-auto    {overflow-x:auto;}
    .#{$Overflow}y-auto    {overflow-y:auto;}
    .#{$Overflow}auto      {overflow:auto;}
    .#{$Overflow}x-hidden  {overflow-x:hidden;}
    .#{$Overflow}y-hidden  {overflow-y:hidden;}
    .#{$Overflow}hidden    {overflow:hidden;}
    .#{$Overflow}auto      {overflow:auto;}
  }

  // Cursors
  @if in-list(cursor, $utilities-include) {
    //basic
    .#{$Cursor}pointer     {cursor:$cursor-pointer;}
    .#{$Cursor}not-allowed {cursor:$cursor-not-allowed;}
    .#{$Cursor}crosshair   {cursor:$cursor-crosshair;}
    .#{$Cursor}default     {cursor:$cursor-default;}
    .#{$Cursor}help        {cursor:$cursor-help;}
    .#{$Cursor}move        {cursor:$cursor-move;}
    .#{$Cursor}progress    {cursor:$cursor-progress;}
    .#{$Cursor}wait        {cursor:$cursor-wait;}
    .#{$Cursor}text        {cursor:$cursor-text;}

    //news
    .#{$Cursor}n-resize    {cursor:$cursor-n-resize;}
    .#{$Cursor}e-resize    {cursor:$cursor-e-resize;}
    .#{$Cursor}w-resize    {cursor:$cursor-w-resize;}
    .#{$Cursor}s-resize    {cursor:$cursor-s-resize;}
    .#{$Cursor}sw-resize,
    .#{$Cursor}ne-resize   {cursor:$cursor-sw-resize;}
    .#{$Cursor}nw-resize,
    .#{$Cursor}se-resize   {cursor:$cursor-se-resize;}
  }

}

$utilities: false;