// GRID MODULE
// ------------------------------------------------------------
$grid-calc-data: (
    columns: 12,
    calc-method: gap,
    calc-data: 1.5%,
  );
@import '../../element/framework/modules/grid.scss';